<% presenter = Questions::ShowPresenter.new(self, @question) %>
<div class="flex flex-1 bg-grey-lighter">
  <div class="flex-1 flex flex-col">

    <div class="flex-col px-6 py-2 items-center justify-between">
      <div class="max-w-md w-full flex justify-center mb-4">
        <a href=" <%= community_path(@question.community_id) %>"> back</a>
      </div>
      <div class="max-w-md w-full flex mx-auto items-center justify-center relative shadow bg-white rounded-lg mb-4">
        <div class="flex w-full">
          <div class="flex flex-1 items-center py-4 px-4">
            <div class="text-sm">
              <span class="text-black font-semibold">
                <%= @question.title %>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="max-w-md w-full flex mx-auto items-center justify-center relative shadow bg-white rounded-lg mb-4">
        <div class="flex w-full  py-4 px-4">
          <div class="flex w-1/6 text-center justify-center">
            <div class="mt-4">
              <i class="material-icons">message</i>
              <div class="mt-2"><%= presenter.answers_count %></div>
            </div>
          </div>
          <div class="w-5/6 leading-normal text-sm">
                  <span class="">
                    <%= @question.description %>
                  </span>
            <div class="pt-2 flex flex-row">
              <div class="w-16">
                <%= image_tag(presenter.user_image(@question.user), alt: current_school.name) %>
              </div>
              <div class="pl-2">
                <p class="text-xs">Asked on <%= presenter.time(@question) %> by</p>
                <p class="font-semibold"><%= presenter.name(@question.user) %> </p>
                <p><%= presenter.title(@question.user) %> </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="max-w-md w-full flex flex-col mx-auto items-center justify-center text-left pl-10">
        <% @question.comments.each do |comment| %>
          <div class="w-full border-t-2 py-2 text-xs">
            <%= comment.value %>
            <span class="font-semibold"> - <%= presenter.name(comment.user) %></span>
          </div>
        <% end %>
        <div class="w-full border-t-2 py-2 text-xs font-semibold">
          Add a comment
        </div>
      </div>
      <% if presenter.show_edit_button? %>
        <div class="max-w-md w-full flex justify-center mb-4">
          <a class="cursor-pointer no-underline hover:bg-grey-lighter"
             href=<%= edit_question_path(@question.id) %>>Edit</a>
        </div>
      <% end %>
    </div>
    <div class="px-6 pb-4 mt-5 flex flex-1">
      <div class="max-w-md w-full mx-auto relative">
        <div>
          <span class="text-black font-semibold">
            Answers
          </span>
        </div>
        <% presenter.answers.map do |answer| %>
          <div class="flex items-center shadow bg-white rounded-lg my-4">
            <div class="flex w-full  py-4 px-4">
              <div class="flex w-1/6 text-center justify-center">
                <div class="mt-4">
                  <i class="material-icons">favorite</i>
                  <div class="mt-2"> <%= presenter.answer_claps(answer) %></div>
                </div>
              </div>
              <div class="w-5/6 leading-normal text-sm">
                <span class=""><%= answer.description %></span>
                <div class="pt-2 flex flex-row">
                  <div class="w-16">
                    <%= image_tag(presenter.user_image(answer.user), alt: current_school.name) %>
                  </div>
                  <div class="pl-2">
                    <p class="text-xs">answered on <%= presenter.time(answer) %> by</p>
                    <p class="font-semibold"><%= presenter.name(answer.user) %> </p>
                    <p><%= presenter.title(answer.user) %> </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% if presenter.show_answer_edit?(answer) %>
            <div class="max-w-md w-full flex justify-center mb-4">
              <a class="no-underline bg-indigo-dark hover:bg-blue-dark text-white font-bold py-3 px-6 shadow rounded focus:outline-none mx-2"
                 href=<%= edit_answer_path(answer.id) %>>Edit Answer</a>
              <%= form_for answer, url: answer_path(answer.id), method: :delete do |f| %>
                <%= f.submit "Delete Answer", class: "w-full bg-indigo-dark hover:bg-blue-dark text-white font-bold py-3 px-6 shadow rounded focus:outline-none mx-2" %>
              <% end %>
            </div>
          <% end %>
          <div class="max-w-md w-full flex flex-col mx-auto items-center justify-center text-left pl-10">
            <% answer.comments.each do |comment| %>
              <div class="w-full border-t-2 py-2 text-xs">
                <%= comment.value %>
                <span class="font-semibold"> - <%= presenter.name(comment.user) %></span>
              </div>
            <% end %>
            <div class="w-full border-t-2 py-2 text-xs font-semibold">
              Add a comment
            </div>
          </div>
        <% end %>
        <div class="mt-4 max-w-md w-full flex mx-auto items-center justify-center relative shadow bg-white rounded-lg">
          <div class="flex w-full  py-4 px-4">
            <div class="w-full flex flex-col">
              <%= form_for @answer, url: question_answers_path(@question.id) do |f| %>
                <%= f.text_area :description, required: true, minlength: 50, class: "appearance-none block w-full bg-white text-grey-darker border border-grey-light rounded py-3 px-4 mb-6 leading-tight focus:outline-none focus:bg-white focus:border-grey" %>
                <%= f.submit "Add Your Answer", class: "w-full bg-indigo-dark hover:bg-blue-dark text-white font-bold py-3 px-6 shadow rounded focus:outline-none" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
