<% content_for(:tail) do %>
  <%= stylesheet_pack_tag 'MarkdownViewPack', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'MarkdownViewPack', nonce: true %>
<% end %>
<% presenter = Questions::VersionsPresenter.new(self, @question) %>
<div class="bg-gray-100 px-3 py-4">
  <div class="mb-2 container max-w-3xl mx-auto">
    <div class="border-b pb-3">
      <%= link_to question_path(@question), class: "btn btn-default" do %>
        <i class="far fa-arrow-left"></i>
        <span class="ml-2">Back to Question</span>
      <% end %>
    </div>
    <div class="mt-5 inline-block flex-1 bg-gray-200 text-xs border rounded p-1 leading-tight">
      <span class="font-semibold text-gray-700">Question Edit History</span>
    </div>
    <div class="text-xl text-black font-semibold mt-1"><%= @question.title %></div>
    <div class="flex items-start mt-3">
      <div class="w-1/12 font-bold text-lg md:text-4xl mr-2 md:mr-3 text-gray-400 text-center"><%= presenter.version_number_for_question %></div>
      <div class="w-11/12 relative bg-white border rounded p-5 pt-8 overflow-hidden">
        <span class="inline-block text-xs bg-green-500 text-white font-semibold rounded-b py-1 px-2 absolute top-0">Current Version</span>
        <div class="w-full mt-1">
          <div class="markdown-text"
               id="<%= presenter.version_number_for_question %>"
               data-json-props="<%= presenter.markdown_props_for_questions %>"
          >
            <%= @question.description %>
          </div>
          <div class="mt-4 text-xs">
            <span>Edited by</span>
            <span class="font-semibold"><%= presenter.editor_name_for_question %></span>
            <span><%= presenter.question_updated_at %></span>
          </div>
        </div>
      </div>

    </div>
    <% presenter.versions.each_with_index do |version, index| %>
      <div class="flex items-start mt-2">
        <div class="w-1/12 font-bold text-lg md:text-4xl mr-2 md:mr-3 text-gray-400 text-center"><%= presenter.version_number(index) %></div>
        <div class="w-11/12 relative bg-orange-100 border border-orange-200 rounded p-5 overflow-hidden">
          <div id="<%= presenter.version_number(index) %>" data-json-props="<%= presenter.markdown_prop(version, index) %>" class="markdown-text">
            <%= version.value %>
          </div>
          <div class="mt-4 text-xs">
            <span>Edited by</span>
            <span class="font-semibold"><%= presenter.name(version.user) %></span>
            <span><%= presenter.edited_at(version) %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
