<% user = student.user %>
<a href="<%= student_report_path(student, filters) %>" data-test-class="student" class="block p-4 md:p-4 border border-gray-200 bg-white rounded-lg hover:bg-primary-50 hover:text-primary-500 hover:border-primary-400">
  <div class="flex justify-between items-center gap-4">
    <div>
      <p class="text-sm font-semibold">
        <%= user.name %>
      </p>
      <p class="text-sm text-gray-600">
        <%= user.title %> <span class="px-1" aria-hidden="true">|</span>
        <% if user.last_seen_at.present? %>
          <span title="<%= user.last_seen_at.iso8601 %>"><%= t('.time_ago', time_ago: time_ago_in_words(user.last_seen_at)) %></span>
        <% else %>
          <%= t('.never_signed_in') %>
        <% end %>
      </p>
    </div>
  </div>
</a>
