<div class="flex flex-col md:pt-18 bg-gray-50 md:h-screen overflow-y-auto">
  <section class="bg-gray-50 px-4 border-b border-gray-200">
    <div class="max-w-5xl mx-auto pt-4">
      <h1 class="text-lg md:text-xl font-semibold md:mt-4">
        <%= @cohort.name %>
      </h1>
      <p class="text-sm font-medium"><%= @course.name %></p>
      <div class="mt-4 md:mt-6 flex gap-4 items-center text-sm">
        <p class="p-2 border-b-2 border-primary-500 text-primary-500 font-semibold"><%= 'Overview' %></p>
        <%= link_to 'Students', students_cohort_path(@cohort), class: "p-2 hover:text-primary-500 hover:bg-primary-100" %>
      </div>
    </div>
  </section>
  <section class="bg-white py-4 flex-1">
    <div class="max-w-5xl mx-auto">
      <div class="p-4 bg-gray-50 rounded-lg">
        <h3 class="text-sm font-semibold"><%= 'Student Distribution by Milestone Completion' %></h3>
        <div class="mt-4">
          <div class="grid gap-x-8 gap-y-6">
            <% @presenter.milestone_completion_status.each do |target, data| %>
              <div>
                <div class="flex justify-between">
                  <p class="text-xs font-medium"><%= "M#{target.milestone_number}: #{target.title}"%></p>
                  <div class="flex space-x-2">
                    <p class="text-xs font-medium text-gray-500"><%= "#{data[:students_count]}/#{@presenter.total_students_count}" %></p>
                    <p class="text-center text-xs font-medium rounded-sm px-1 bg-gray-200"><%= "#{data[:percentage]}%"%></p>
                  </div>
                </div>
                <%= link_to students_cohort_path(milestone: "M#{target.milestone_number}: #{target.title}") do %>
                  <div class="relative bg-gray-200 rounded-md overflow-hidden mt-0.5">
                    <div style="<%= "width: #{data[:percentage]}%" %>" class="h-2 text-center bg-green-500"></div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
