<section class="max-w-7xl mx-auto">
  <div class="mt-4">
    <%= link_to "< Back", organisation_path(@organisation), class: 'underline' %>
  </div>
  <h1 class="text-3xl font-bold mt-4"><%= @cohort.name %></h2>
  <h2 class="text-xl font-bold mt-4"><%= @cohort.course.name %></h1>
  <div class="mt-4">
    <%= link_to "Students", students_organisation_cohort_path(@organisation, @cohort), class: 'underline' %>
  </div>
  <pre>
  </pre>
  <div class="mt-4">
    <div>
      Total students: <%= @presenter.counts[:total] %>
    </div>
    <div>
      Completed: Waiting for branch to be merged.
    </div>
    <hr class="my-4">
    <div data-re-component="StudentDistribution" data-re-json="<%= @presenter.distribution.to_json %>">
      <div class="skeleton-body-container pt-4 w-full mx-auto">
        <div class="skeleton-body-wrapper px-3 lg:px-0">
          <div class="skeleton-placeholder__card px-5 py-6 bg-white rounded-lg shadow">
            <div class="flex">
              <div class="w-1/6">
                <div class="skeleton-placeholder__line-sm skeleton-animate w-6 mx-auto"></div>
                <div class="skeleton-placeholder__line-md skeleton-animate mt-2"></div>
              </div>
              <div class="w-5/12">
                <div class="skeleton-placeholder__line-sm skeleton-animate w-6 mx-auto"></div>
                <div class="skeleton-placeholder__line-md skeleton-animate mt-2"></div>
              </div>
              <div class="w-1/4">
                <div class="skeleton-placeholder__line-sm skeleton-animate w-6 mx-auto"></div>
                <div class="skeleton-placeholder__line-md skeleton-animate mt-2"></div>
              </div>
              <div class="w-1/12">
                <div class="skeleton-placeholder__line-sm skeleton-animate w-6 mx-auto"></div>
                <div class="skeleton-placeholder__line-md skeleton-animate mt-2"></div>
              </div>
              <div class="w-1/12">
                <div class="skeleton-placeholder__line-sm skeleton-animate w-6 mx-auto"></div>
                <div class="skeleton-placeholder__line-md skeleton-animate mt-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
