<div>
  <section class="bg-gray-50">
    <div class="max-w-5xl mx-auto p-6 pb-0">
      <div class="mt-4 overflow-x-auto">
        <%= render 'shared/breadcrumbs', crumbs: [['My Org', '/organisations'], [@organisation.name, organisation_path(@organisation)], [@cohort.course.name, active_cohorts_organisation_course_path(@organisation, @cohort.course)], [@cohort.name]]  %>
      </div>
      <h1 class="text-xl md:text-3xl font-bold mt-4">
        <%= @cohort.name %>
      </h1>
      <p class="text-sm font-medium"><%= @cohort.course.name %></p>
      <div class="mt-6 flex gap-4 items-center border-b border-gray-300 text-sm">
        <%= link_to t('cohorts.shared.overview_link'), organisation_cohort_path(@organisation, @cohort), class: 'p-2 hover:text-primary-500 hover:bg-primary-100' %>
        <p class="p-2 border-b-2 border-primary-500 text-primary-500 font-semibold"><%= t('cohorts.shared.students_link') %></p>
      </div>
    </div>
  </section>
  <section class="bg-white">
    <div class="max-w-5xl mx-auto p-6">
      <div class="p-4 bg-gray-100 rounded-lg">
        <h3 class="text-xs font-semibold"><%= t('.distribution_heading') %></h3>
        <div data-re-component="StudentDistribution" data-re-json="<%= @presenter.distribution.to_json %>">
          <div class="skeleton-body-container pt-4 w-full mx-auto">
            <div class="skeleton-body-wrapper px-3 lg:px-0">
              <div class="skeleton-placeholder__card px-5 py-6 bg-white rounded-lg shadow">
                <div class="flex">
                  <div class="w-1/6">
                    <div class="skeleton-placeholder__line-sm skeleton-animate w-6 mx-auto"></div>
                    <div class="skeleton-placeholder__line-md skeleton-animate mt-2"></div>
                  </div>
                  <div class="w-5/12">
                    <div class="skeleton-placeholder__line-sm skeleton-animate w-6 mx-auto"></div>
                    <div class="skeleton-placeholder__line-md skeleton-animate mt-2"></div>
                  </div>
                  <div class="w-1/4">
                    <div class="skeleton-placeholder__line-sm skeleton-animate w-6 mx-auto"></div>
                    <div class="skeleton-placeholder__line-md skeleton-animate mt-2"></div>
                  </div>
                  <div class="w-1/12">
                    <div class="skeleton-placeholder__line-sm skeleton-animate w-6 mx-auto"></div>
                    <div class="skeleton-placeholder__line-md skeleton-animate mt-2"></div>
                  </div>
                  <div class="w-1/12">
                    <div class="skeleton-placeholder__line-sm skeleton-animate w-6 mx-auto"></div>
                    <div class="skeleton-placeholder__line-md skeleton-animate mt-2"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-6">
        <div data-re-component="SimpleDropdownFilter" data-re-json="<%= @presenter.filter.to_json %>"></div>
      </div>
      <div class="grid grid-flow-row gap-4 grid-cols-1 md:grid-cols-2  auto-rows-max mt-4">
        <% @presenter.students.each do |student| %>
          <%= render 'student', student: student %>
        <% end %>
      </div>
      <div class="mt-6 flex items-center justify-center">
        <%= paginate @presenter.students %>
      </div>
      <% if @presenter.students.total_pages > 1 %>
        <div class="text-center text-sm italic mt-4">
          <%= t('.pagination_notice', page_start: kaminari_page_start(@presenter.students), page_end: kaminari_page_end(@presenter.students), count: @presenter.students.total_count) %>
        </div>
      <% end %>
      <% if @presenter.students.empty? %>
        <div class="text-center text-sm italic mt-4"><%= t('.nothing_to_show') %></div>
      <% end %>
    </div>
  </section>
</div>
