<div id="event_form_wrap">
  <%= semantic_form_for [:admin, @event] do |f| %>
    <%= f.inputs :name => "Basic" do %>

      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :featured %>
      <%= f.input :approved %>
      <%= f.input :location %>
      <%= f.input :category, collection: Category.event_category, prompt: "Choose a event" %>
      <%= f.input :picture, as: :file %>
      <%= f.input :start_at, :as => :just_datetime_picker %>
      <%= f.input :end_at, :as => :just_datetime_picker %>
      <%= f.input :posters_name %>
      <%= f.input :posters_email %>
      <%= f.input :posters_phone_number %>
      <%= f.action :submit, :as => :button %>
    <% end %>
  <% end %>
</div>
