<%
  school_name = @user.school.name
  recipient_name = @user.name

  def article(count)
    count > 1 ? 'are' : 'is'
  end
%>

<% content_for :title do %>
  Daily digest from <%= school_name %>
<% end %>

<% content_for :title_button_text do %>
  Visit <%= school_name %> dashboard
<% end %>

<% content_for(:title_button_link, dashboard_url) %>

<% content_for :salutation do %>
  Hello <%= recipient_name %>,
<% end %>

<% content_for :body do %>
  <% if @updates[:coach].present? %>
    <% pending_submissions_count = @updates[:coach].map { |s| s[:pending_submissions] }.sum %>
    <p style="margin-top: 10px;">

      There <%= article(pending_submissions_count) %> <strong><%= pending_submissions_count %></strong>
      new <%= 'submission'.pluralize(pending_submissions_count) %> to review
      in <%= pluralize(@updates[:coach].length, 'course') %>
      that you are a coach in:
    </p>

    <ul style="padding: 0; margin-top: 0; margin-left: 30px; list-style-type: circle;">
      <% @updates[:coach].each do |stats| %>
        <li style="padding: 2px 0px;">
          <%= link_to "#{stats[:course_name]}:", review_course_url(stats[:course_id]), style: 'color: #6025C0; border-radius: 8px; padding: 0px;' %>
          <span><strong><%= stats[:pending_submissions] %></strong>
            <% if stats[:is_team_coach] %>
              <%= stats[:pending_submissions_for_coach] == 0 ? '(none of which are assigned to you)' : "(#{stats[:pending_submissions_for_coach]} assigned to you)" %>
            <% end %>
          </span>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if @updates[:community_new].present? %>
    <p style="margin-top: 15px;">
      Latest topics posted on your communities:
    </p>

    <% @updates[:community_new].each do |topic| %>
      <div>
        <%= link_to topic[:title], topic_url(topic[:id]) %>
        <span style="font-size: 75%;">
          &mdash; <strong><%= topic[:author] %></strong>
        </span>
      </div>
      <div style="font-size: 75%; border-bottom: 1px solid lightgray; margin-bottom: 4px; padding-bottom: 4px;">
        <%= link_to topic[:community_name], community_url(topic[:community_id]) %>,
        <%= pluralize(topic[:views], 'view') %>,
        <%= pluralize(topic[:replies], 'reply') %>.
      </div>
    <% end %>
  <% end %>

  <% if @updates[:community_reactivated].present? %>
    <p style="margin-top: 15px;">
      Older, popular topics that have seen new activity:
    </p>

    <% @updates[:community_reactivated].each do |topic| %>
      <div>
        <%= link_to topic[:title], topic_url(topic[:id]) %>
        <span style="font-size: 75%;">
          &mdash; <strong><%= topic[:author] %></strong>
        </span>
      </div>
      <div style="font-size: 75%; border-bottom: 1px solid lightgray; margin-bottom: 4px; padding-bottom: 4px;">
        <%= link_to topic[:community_name], community_url(topic[:community_id]) %>,
        <%= pluralize(topic[:views], 'view') %>,
        <%= pluralize(topic[:replies], 'reply') %>,
        asked <%= pluralize(topic[:days_ago], 'day') %> ago.
      </div>
    <% end %>
  <% end %>

  <p style="font-size: 75%; text-align: center; margin-top: 15px;">
    You can control these emails from <%= link_to "your profile edit page", edit_user_url %>.
  </p>
<% end %>

<% content_for(:signature) do %>
  <div></div>
<% end %>
