<%
  school_name = @user.school.name
  community_count = @updates.length
  question_count = @updates.values.map { |v| v[:questions].length }.sum
  questions_article = question_count > 1 ? 'are' : 'is'
  recipient_name = @user.name
%>

<% content_for :title do %>
  Daily community digest from <%= school_name %>
<% end %>

<% content_for :subtitle do %>
  There are new questions in <%= community_count.humanize %> <%= 'community'.pluralize(community_count) %>.
<% end %>

<% content_for :title_button_text do %>
  Visit <%= school_name %> homepage
<% end %>

<% content_for(:title_button_link, home_url) %>

<% content_for :salutation do %>
  Hello <%= recipient_name %>,
<% end %>

<% content_for :body do %>
  <p>
    There <%= "#{questions_article} #{question_count}" %> new <%= 'question'.pluralize(question_count) %> from
    <%= pluralize(community_count, 'community') %>.
  </p>

  <% @updates.each do |community_id, community_updates| %>
    <table>
      <% community_updates[:questions].each do |question| %>
        <tr>
          <td><%= question[:title] %></td>
          <td>
            <%= link_to 'View Question', question_url(question[:id]) %>
          </td>
        </tr>
      <% end %>

      <tr>
        <td colspan="2">
          <%= link_to 'See all questions in community', community_url(community_id) %>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>
