<%
  school_name = @user.school.name
  community_count = @updates.length
  question_count = @updates.values.map { |v| v[:questions].length }.sum
  questions_article = question_count > 1 ? 'are' : 'is'
  recipient_name = @user.name
%>

<% content_for :title do %>
  Daily community digest from <%= school_name %>
<% end %>

<% content_for :subtitle do %>
  There are new questions in <%= community_count.humanize %> <%= 'community'.pluralize(community_count) %>.
<% end %>

<% content_for :title_button_text do %>
  Visit <%= school_name %> homepage
<% end %>

<% content_for(:title_button_link, home_url) %>

<% content_for :salutation do %>
  Hello <%= recipient_name %>,
<% end %>

<% content_for :body do %>
  <p>
    This daily update contains new questions that were asked today and a selection of unanswered questions from the
    past week.
  </p>

  <p>
    There <%= questions_article %> <strong><%= question_count %></strong> new
    <%= 'question'.pluralize(question_count) %> in <%= pluralize(community_count, 'community') %> that you are a
    part of.
  </p>

  <% @updates.each do |community_id, community_updates| %>
    <%= link_to community_updates[:community_name], community_url(community_id), style: 'font-size: 150%;' %>

    <ul style="padding: 0; margin-top: 0; list-style-type: none;">
      <% community_updates[:questions].each do |question| %>
        <li style="padding-left: 15px;">
          <%= link_to question[:title], question_url(question[:id]) %>
          <span style="font-size: 75%;">
            &mdash; <strong><%= question[:author] %></strong>
            <%= question[:type] == 'new' ? '' : "(unanswered, asked #{pluralize(question[:days_ago], 'day')} ago)" %>
          </span>
        </li>
      <% end %>
    </ul>
  <% end %>

  <p>
    You can control these emails from <%= link_to "your profile edit page", edit_user_url %>.
  </p>
<% end %>

<% content_for(:signature) do %>
  <div></div>
<% end %>
