<%
  topic = @post.topic
  addressee_name = @addressee.name
  author_name = @post.creator&.name || "A user"
  community_name = @post.topic.community.name
%>

<% content_for :salutation do %>
  Hello <%= addressee_name %>,
<% end %>

<% content_for :body do %>
  <p><%= author_name %> has posted a reply to something you said on the <%= community_name %> community.</p>

  <p>You can view the reply by clicking on this <%= link_to 'link', topic_url(topic)%></p>

  <%= render 'mailers/link_fallback', url: topic_url(topic) %>
<% end %>
