<% content_for(:head) do %>
  <title>
    <%= "#{t("users.sessions.email_sent.#{kind}.page_title")} |
    #{current_school.name}" %>
  </title>
<% end %>

<div class="bg-gray-50 sm:py-10">
  <div
    class="container mx-auto max-w-lg px-4 py-6 sm:py-8 bg-white rounded-lg shadow"
  >
    <%= image_tag 'users/sessions/email-sent-icon.svg', class: 'mx-auto w-32 sm:w-42', alt: t('.image_alt') %>
    <div
      class="max-w-sm mx-auto text-lg sm:text-2xl font-bold text-center mt-4"
    >
      <%= t("users.sessions.email_sent.#{kind}.heading") %>
    </div>
    <div class="max-w-sm mx-auto">
      <p class="mt-4 text-center">
        <%= t("users.sessions.email_sent.#{kind}.description") %>
      </p>
      <p class="text-sm text-gray-600 italic mt-2 text-center">
        <%= t("users.sessions.email_sent.#{kind}.notice") %>
      </p>
    </div>
  </div>
</div>
