<% presenter = Users::Sessions::NewPresenter.new(self) %>
<% content_for(:head) do %>
  <title><%= presenter.page_title %></title>
<% end %>
<div class="bg-gray-50 sm:py-10">
  <div
    class="container mx-auto max-w-lg px-4 py-6 sm:py-8 bg-white rounded-lg shadow"
  >
    <%= image_tag 'users/sessions/federated-sign-in-icon.svg', class: 'mx-auto w-32 sm:w-42' %>
    <div
      class="max-w-sm mx-auto text-lg sm:text-2xl font-bold text-center mt-4"
    >
      <%= t('.heading', school_name: presenter.school_name) %>
    </div>
    <% if presenter.oauth_host.present? %>
      <div class="flex flex-col pb-5 md:px-9 items-center max-w-sm mx-auto">
        <% presenter.providers.each do |provider| %>
          <a
            class="<%= presenter.button_classes(provider) %>"
            href="<%= presenter.federated_login_url(provider) %>"
            rel="nofollow"
          >
            <span class="w-1/5 ltr:text-right rtl:text-left text-lg">
              <i class="<%= presenter.icon_classes(provider) %>"></i>
            </span>
            <span class="w-4/5 ps-3 ">
              <%= presenter.button_text(provider) %>
            </span>
          </a>
        <% end %>
      </div>
    <% end %>
    <div class="max-w-sm mx-auto md:px-9">
      <% if presenter.oauth_host.present? %>
        <span
          class="federated-signin-in__seperator block relative z-10 text-center text-xs text-gray-600 font-semibold"
        >
          <span class="bg-white px-2">
            <%= t('.sign_in_options_separator') %>
          </span>
        </span>
      <% end %>
      <a
        href="/users/sign_in_with_email"
        class="flex justify-center items-center px-3 py-2 leading-snug border border-gray-300 text-primary-500 hover:bg-gray-50 hover:border-primary-500 focus:bg-gray-50 focus::border-primary-500 focus:outline-none rounded-lg cursor-pointer font-semibold mt-4 w-full"
      >
        <span class="w-1/5 ltr:text-right rtl:text-left text-lg">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="w-4/5 ps-3 ">
          <%= t('.continue_with_email_link') %>
        </span>
      </a>
    </div>
  </div>
</div>
