<% content_for(:head) do %>
  <title>
    <%= "#{t('.page_title')} |
    #{current_school.name}" %>
  </title>
<% end %>
<div class="h-full py-10 bg-gray-50 md:py-24">
  <div class="container max-w-lg px-4 py-6 mx-auto bg-white rounded-lg shadow sm:py-8">
    <div class="max-w-sm mx-auto mt-4 text-lg font-bold text-center sm:text-2xl">
      <%= t('.heading') %>
    </div>
    <%= form_with(url: user_send_reset_password_email_path, method: :post, class: 'max-w-sm pb-4 mx-auto md:px-9', local: true) do |f| %>
      <div class="pb-3 mt-2 text-sm text-center">
        <%= t('.subtitle') %>
      </div>
      <label
        class="inline-block text-xs font-semibold tracking-wide text-gray-900"
        for="email"
      >
        <%= t('.email_label') %>
      </label>
      <%= f.email_field :email, maxlength: 256, placeholder: t('.email_placeholder'), required: true, class: 'block w-full h-10 px-4 py-2 mt-1 text-sm text-gray-800 border border-gray-300 rounded appearance-none bg-gray-50 hover:bg-gray-50 focus:outline-none focus:bg-white focus:border-primary-400', tabindex: 1 %>
      <%= f.submit t(".submit_button"), data: { disable: true }, class: "w-full mt-4 text-center btn btn-primary btn-large me-2", tabindex: 2 %>
      <%= render 'shared/recaptcha', v2: @show_checkbox_recaptcha, action: 'user_password_reset' %>
      <div class="flex flex-col max-w-sm mx-auto md:px-9 justify-items-center">
        <a
        href="/users/sign_in"
        class="w-full p-3 text-sm font-semibold leading-snug text-center underline rounded-lg cursor-pointer text-primary-500 hover:bg-gray-50 focus:bg-gray-50 focus:outline-none"
        tabindex="6"
      >
          <%= t('.cancel_link') %>
        </a>
      </div>
    <% end %>
  </div>
</div>
