<% content_for(:head) do %>
  <title><%= "Sign In | #{current_school.name}" %></title>
<% end %>

<div class="bg-gray-50 sm:py-10">
  <div class="container mx-auto max-w-lg px-4 py-6 sm:py-8 bg-white rounded-lg shadow">
    <div class="max-w-sm mx-auto text-lg sm:text-2xl font-bold text-center">
      <%= t(".email") %>
    </div>
    <%= form_with(url: user_session_path, method: :post, class: 'pt-4 pb-5 md:px-9 items-center max-w-sm mx-auto', local: true) do |f| %>
      <div>
        <label
          class="inline-block tracking-wide text-gray-900 text-xs font-semibold" for="email">
          <%= t(".email_address") %>
        </label>
        <%= f.email_field :email, maxlength: 256, placeholder: 'john@example.com', required: true, class: 'appearance-none h-10 mt-1 block w-full text-gray-800 border border-gray-300 rounded py-2 px-4 text-sm bg-gray-50 hover:bg-gray-50 focus:outline-none focus:bg-white focus:border-primary-400', tabindex: 1 %>
      </div>
      <div class="mt-4">
        <div class="flex justify-between">
          <label
            class="inline-block tracking-wide text-gray-900 text-xs font-semibold"
            for="password">
            <%= t(".password") %>
          </label>
          <a
            href="<%= request_password_reset_path %>"
            class="text-primary-400 text-center text-xs font-semibold hover:text-primary-600 cursor-pointer
          whitespace-nowrap hover:underline focus:underline inline"
            tabindex=6>
            <%= t(".password_new") %>
          </a>
        </div>
        <%= f.password_field :password, placeholder: t(".type_password"), class: 'appearance-none h-10 mt-1 block w-full text-gray-800 border border-gray-300 rounded py-2 px-4 text-sm bg-gray-50 hover:bg-gray-50 focus:outline-none focus:bg-white focus:border-primary-400', tabindex: 2 %>
      </div>
      <div
        class="flex justify-between items-center leading-snug mt-4 flex-col sm:flex-row">
        <div class="flex items-strecth text-gray-600 hover:text-gray-900">
          <%= f.check_box :shared_device, required: false, tabindex: 3 %>
          <label
            class="block ps-2 font-semibold cursor-pointer text-xs select-none whitespace-nowrap"
            for="shared_device">
            <%= t(".shared") %>
          </label>
        </div>
      </div>
      <% if @show_checkbox_recaptcha %>
        <div class="mt-4">
          <%=
            recaptcha_tags(
              site_key: ENV['RECAPTCHA_V2_SITE_KEY'],
              nonce: content_security_policy_nonce,
            )
          %>
        </div>
      <% else %>
        <%=
          recaptcha_v3(
            action: 'user_password_login',
            site_key: ENV['RECAPTCHA_V3_SITE_KEY'],
            nonce: content_security_policy_nonce,
          )
        %>
      <% end %>
      <div class="mt-4">
        <%= f.submit t(".with_password"), name: 'password_sign_in', data: { disable: true }, class: "btn btn-success btn-large text-center w-full", tabindex: 4 %>
      </div>
      <div class="mt-6">
        <div class="relative">
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-300"></div>
          </div>
          <div class="relative flex justify-center text-sm">
            <span class="px-2 bg-white">
              <%= t("shared.or").upcase %>
            </span>
          </div>
        </div>
      <p class="mt-4 font-semibold text-center"><%= t(".password_free") %></p>
      <p class="mt-2 text-center text-sm text-gray-800"><%= t(".magic_link") %></p>
      <div class="mt-4">
        <%= f.submit t(".email_me"), name: 'email_link', data: { disable: true }, class: "btn btn-primary-ghost btn-large text-center w-full", tabindex: 5 %>
      </div>
    <% end %>
    <div class="max-w-sm mx-auto flex flex-col justify-items-center mt-6">
      <a href="/users/sign_in"
         class="w-full p-3 text-primary-500 leading-snug rounded-lg underline cursor-pointer text-sm text-center
      font-semibold hover:bg-gray-50 focus:bg-gray-50 focus:outline-none"
         tabindex=6>
        <%= t(".oauth") %>
      </a>
    </div>
  </div>
</div>
