<% presenter = Students::HomePresenter.new(self, @user) %>

<div class="flex flex-col justify-center items-center">
  <div class="w-full bg-primary">
    <div class="py-16 flex items-center justify-center mx-auto">
      <div class="w-full lg:max-w-md flex flex-row justify-between text-white items-center">
        <div class="flex flex-row items-center">
          <div class="w-10 h-10 rounded-full bg-gray-500 text-white border border-white flex items-center justify-center overflow-hidden">
            <img src="<%= presenter.avatar %>">
          </div>
          <div class="pl-2">
            <div class="text-2xl font-semibold"><%= presenter.user_profile.name %></div>
            <div class="text-lg "><%= presenter.user_profile.title %></div>
          </div>
        </div>
        <div>
          <a class="no-underline text-white border p-2 text-sm rounded mt-2" href="<%= edit_user_profile_path(presenter.user_profile) %>">
            <i class="fas fa-edit text-sm text-white"></i>
            Edit Profile
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-full lg:max-w-md shadow rounded-lg px-6 py-6 mt-6">
    <div class="flex flex-row items-center">
      <i class="fas fa-book text-2xl text-primary"></i>
      <div class="px-2 text-2xl font-semibold">Here's everything you're learning</div>
    </div>
    <div>
      <% @user.founders.each do |founder| %>
        <div class="flex flex-row w-full lg:max-w-md shadow rounded-lg mt-4">
          <div class="flex w-1/3 bg-primary-400 items-center justify-center p-4 shadow rounded-lg">
            <div class="text-white border p-2 rounded">Continue Course</div>
          </div>
          <div class="w-2/3 px-4 py-4">
            <div class="text-4xl font-bold text-black"> <%= founder.course.name %></div>
            <div class="text-sm"> School of Innovation India aims to foster future talent in emerging technologies and
              bring cutting
              edge technologies to India for ambitious students.
            </div>
            <div class="flex flex-row pt-4 flex-wrap justify-between">
              <%= link_to select_founder_path(founder), method: :post do %>
                <div class="text-primary border p-2 text-sm rounded mt-2">
                  <i class="fas fa-book text-sm text-primary"></i>
                  Curriculum
                </div>
              <% end %>
              <div class="text-primary border p-2 text-sm rounded mt-2">
                <i class="fas fa-book text-sm text-primary"></i>
                Calender
              </div>
              <div class="text-primary border p-2 text-sm rounded mt-2">
                <i class="fas fa-book text-sm text-primary"></i>
                Leaderboard
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="flex flex-col w-full lg:max-w-md shadow rounded-lg px-6 py-6 mt-6">
    <div class="flex flex-row items-center">
      <i class="fas fa-book text-2xl text-primary"></i>
      <div class="px-2 text-2xl font-semibold">Communities</div>
    </div>
    <div>
      <% presenter.communities.each do |community| %>
        <div> <%= community.name %></div>
      <% end %>
    </div>
  </div>
</div>
