<% content_for(:head) do %>
  <%= javascript_pack_tag 'schools/founders/index', 'data-turbolinks-track': 'reload', nonce: true %>
<% end %>

<% @presenter = Schools::Founders::IndexPresenter.new(self, @course) %>

<% @presenter.teams.each do |team| %>
  <div class="border-4 m-2 p-2">
    <div class="uppercase font-bold text-xs mt-3">
      Level <%= team.level.number %>
      <%= @presenter.team?(team) ? "- #{team.product_name}" : '' %>
    </div>
    <% if @presenter.team?(team) %>
      <div>
        <%= form_for team, url: school_team_path(team.id), class: 'mt-1' do |f| %>
          <%= f.text_field :product_name, class: 'border p-2' %>
          <%= f.submit 'Update Team', class: 'border p-2 mb-4' %>
        <% end %>
      </div>
    <% end %>

    <div class="mt-<%= @presenter.team?(team) ? '1' : '2' %>">
      <% team.founders.each do |student| %>
        <div class="p-2 cursor-pointer hover:bg-grey-lightest">
          <span class="text-xs uppercase font-bold">ID#<%= student.id %></span>
          <%= student.name %>
        </div>
        <div>
          <%= form_for student, url: school_student_path(student.id), class: 'mt-1' do |f| %>
            <%= f.text_field :name, class: 'border p-2 ml-1' %>
            <%= f.submit 'Update Student', class: 'border p-2 mb-4' %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div>
      <h5>Assigned Coaches:</h5>
      <% if team.faculty.length > 0 %>
        <ul>
          <% team.faculty.each do |coach| %>
            <li>
              <%= coach.name %>
              <%= button_to 'Remove', remove_coach_school_team_path(team.id, coach_id: coach.id),
                class: 'bg-red-light hover:bg-red text-white py-1 px-2 rounded mt-1 mb-2'
              %>
            </li>
          <% end%>
        </ul>
      <% else %>
        None
      <% end %>
      <h5>Assign new coach:</h5>
      <%= form_tag add_coach_school_team_path(team.id), class: 'mt-1' do %>
        <%= text_field_tag "faculty[id]", nil, placeholder: 'Existing ID', class: 'border p-2' %>
        <div class="mt-1 ml-4">OR</div>
        <div class="mt-1">
          <%= text_field_tag "faculty[name]", nil, placeholder: 'New Name', class: 'border p-2' %>
          <%= text_field_tag "faculty[email]", nil, placeholder: 'New Email', class: 'border p-2' %>
        </div>
        <%= submit_tag 'Assign', class: 'border p-2 mt-2' %>
      <% end %>
    </div>
  </div>
<% end %>

<p class="mt-4">Team up students, or move students out:</p>
<p class="mt-1 text-xs">Select multiple students to team them up, or just one student to move them out of current team into new one.</p>
<%= form_tag team_up_school_students_path, class: 'mt-1' do %>
  <%= text_field_tag :team_name, nil, placeholder: 'Team name', class: 'border p-2' %>
  <%= text_field_tag :founder_ids, nil, placeholder: 'JSON: [ID1, ID2, ...]', class: 'border p-2' %>
  <%= submit_tag 'Team Up / Move Out', class: 'border p-2' %>
<% end %>

<p class="mt-4">Add new students, individually or as a team:</p>
<p class="mt-1 text-xs">Provide a list of student names and emails + an optional team name</p>
<%= form_tag school_course_students_path, class: 'mt-1' do %>
  <%= text_field_tag :team_name, nil, placeholder: 'Team name', class: 'border p-2' %>
  <div class="mt-1">
  <%= text_field_tag "students[]name", nil, placeholder: 'Name 1', class: 'border p-2' %>
  <%= text_field_tag "students[]email", nil, placeholder: 'Email 1', class: 'border p-2' %>
  </div>
  <div class="my-1">
  <%= text_field_tag "students[]name", nil, placeholder: 'Name 2', class: 'border p-2' %>
  <%= text_field_tag "students[]email", nil, placeholder: 'Email 2', class: 'border p-2' %>
  </div>
  <%= submit_tag 'Add', class: 'border p-2 mb-4' %>
<% end %>

<div id="student-addition-panel" data-props='{"courseId":1}'></div>
