<%- if controller_name != 'sessions' %>
  <%= link_to "Sign in", new_session_path(resource_name), :class=>"btn btn-info" %>
<% end -%>

<a href="https://play.google.com/store/apps/details?id=in.svlabs.android">
  <%= image_tag 'google_play.png', alt: 'Android app on Google Play' %>
</a>

<a href="https://itunes.apple.com/in/app/startup-village-enabling-entrepreneurship/id804638121">
  <%= image_tag 'app_store.svg', alt: 'iOS app on App Store' %>
</a>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>  &nbsp;
  <%= link_to "Join us", new_registration_path(resource_name), :class=>"link" %>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <br/><br/>
  <%= link_to "Forgot your password?", new_password_path(resource_name), :class=>"link" %>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>    &nbsp;
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>    &nbsp;
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %>    &nbsp;
  <% end -%>
<% end -%>
