<html lang='en'>
<head>
  <%= stylesheet_link_tag 'mailer' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' %>
</head>

<body width="100%">
<center style="width: 100%; background: #f5f5f5; text-align: left; padding-top: 30px;">
  <table class="mailer-table">
    <tbody>
    <tr>
      <td>
        <table class="mailer-head__table">
          <tbody>
          <tr>
            <td class="mailer-head__data">
              <a class="mailer-head__logo" href="https://www.pupilfirst.com" title="Pupilfirst" target="_blank" rel='noopener'>
                <%= image_tag('mailer/pupilfirst-logo.png', class: 'mailer-head__logo-img') %>
              </a>
            </td>
          </tr>
          </tbody>
        </table>

        <table class="mailer-body__table">
          <tbody>
          <% if content_for?(:title) || content_for?(:subtitle) || content_for?(:title_button_text) %>
            <tr>
              <td class="mailer-body__hero">
                <% if content_for?(:title) %>
                  <h1 class="mailer-body__hero-title"><%= yield :title %></h1>
                <% end %>

                <% if content_for?(:subtitle) %>
                  <p class="mailer-body__hero-subtitle"><%= yield :subtitle %></p>
                <% end %>

                <% if content_for?(:title_button_text) %>
                  <a class="mailer-button" href="<%= yield(:title_button_link) %>" title="Pupilfirst" target="_blank" rel='noopener'>
                    <%= yield :title_button_text %>
                  </a>
                <% end %>
              </td>
            </tr>
          <% end %>

          <tr>
            <td class="mailer-body__content">
              <p class="mailer-body__salutation"><%= yield :salutation %></p>

              <%= yield :body %>

              <p class="mailer-body__signature">The Pupilfirst Team</p>
            </td>
          </tr>

          <!-- Social links are temporarily disabled
          <tr>
            <td class="mailer-body__social-table" align="center">
              <a class="mailer-body__social-icon" href='#' title="SCHOOL facebook" target="_blank" rel='noopener'>
                <%= image_tag 'mailer/facebook.jpg', class: 'mailer-body__social-icon-img' %>
              </a>
              <a class="mailer-body__social-icon" href='#' title="SCHOOL twitter" target="_blank" rel='noopener'>
                <%= image_tag 'mailer/twitter.jpg', class: 'mailer-body__social-icon-img' %>
              </a>
              <a class="mailer-body__social-icon" href='#' title="SCHOOL instagram" target="_blank" rel='noopener'>
                <%= image_tag 'mailer/youtube.jpg', class: 'mailer-body__social-icon-img' %>
              </a>
              <a class="mailer-body__social-icon" href='#' title="SCHOOL twitter" target="_blank" rel='noopener'>
                <%= image_tag 'mailer/instagram.jpg', class: 'mailer-body__social-icon-img' %>
              </a>
            </td>
          </tr>
          -->
          </tbody>
        </table>

        <table class="mail-footer__table">
          <tbody>
          <tr>
            <td>
              <p>This email has been sent to you by <%= link_to 'Pupilfirst', "https://www.pupilfirst.com" %></p>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</center>
</body>
</html>
