<% presenter = MailerPresenter.new(self, @school, course: @course) %>

<html lang="en">
  <head>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' %>
  </head>

  <body width="100%" style="font-family: 'Source Sans Pro', sans-serif;">
    <center
      style="width: 100%; text-align: left;"
    >
      <table>
        <tbody>
          <tr>
            <td>
              <table>
                <tbody>
                  <tr>
                    <td>
                      <p>
                        <%= yield :salutation %>
                      </p>

                      <%= yield :body %>

                      <% if content_for?(:signature) %>
                        <%= yield :signature %>
                      <% else %>
                        <p>
                          <%= link_to presenter.school_name, presenter.school_url %>
                        </p>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </center>
  </body>
</html>
