<% presenter = MailerPresenter.new(self, @school, course: @course) %>

<html lang='en'>
<head>
  <%= stylesheet_link_tag 'mailer' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' %>
</head>

<body width="100%">
<center style="width: 100%; background: #f5f5f5; text-align: left; padding-top: 30px;">
  <table class="mailer-table">
    <tbody>
    <tr>
      <td>
        <table class="mailer-head__table">
          <tbody>
          <tr>
            <% if presenter.course_cover? %>
              <td class="mailer-head__course-cover" style="background-image: url('<%= presenter.course_cover_url %>');">
              </td>
            <% else %>
              <td class="mailer-head__data">
                <a class="mailer-head__logo" href="<%= presenter.school_url %>" title="<%= presenter.school_name %>" target="_blank" rel='noopener'>
                  <% if presenter.logo? %>
                    <%= presenter.logo %>
                  <% else %>
                    <%= presenter.school_name %>
                  <% end %>
                </a>
              </td>
            <% end %>
          </tr>
          </tbody>
        </table>

        <table class="mailer-body__table">
          <tbody>
          <% if content_for?(:title) || content_for?(:subtitle) || content_for?(:title_button_text) %>
            <tr>
              <td class="<%= presenter.hero_classes %>">
                <% if content_for?(:title) %>
                  <h1 class="<%= presenter.hero_title_classes %>"><%= yield :title %></h1>
                <% end %>

                <% if content_for?(:subtitle) %>
                  <p class="mailer-body__hero-subtitle"><%= yield :subtitle %></p>
                <% end %>

                <% if content_for?(:title_button_text) %>
                  <a class="<%= presenter.button_classes %>" href="<%= yield(:title_button_link) %>" title="<%= presenter.school_name %>" target="_blank" rel='noopener'>
                    <%= yield :title_button_text %>
                  </a>
                <% end %>
              </td>
            </tr>
          <% end %>

          <tr>
            <td class="mailer-body__content">
              <p class="mailer-body__salutation"><%= yield :salutation %></p>

              <%= yield :body %>

              <% if content_for?(:signature) %>
                <%= yield :signature %>
              <% else %>
                <p class="mailer-body__signature"><%= presenter.school_name %></p>
              <% end %>
            </td>
          </tr>

          </tbody>
        </table>

        <table class="mail-footer__table">
          <tbody>
          <tr>
            <td>
              <p>This email has been sent to you by <%= link_to presenter.school_name, presenter.school_url %></p>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</center>
</body>
</html>
