<% presenter = MailerPresenter.new(self, @school, course: @course) %>

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
  <head>
    <meta charset="utf-8"> <!-- utf-8 works for most cases -->
    <meta name="viewport" content="width=device-width"> <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
    <meta name="x-apple-disable-message-reformatting">  <!-- Disable auto-scale in iOS 10 Mail entirely -->
    <meta name="format-detection" content="telephone=no,address=no,email=no,date=no,url=no"> <!-- Tell iOS not to automatically link certain text strings. -->
    <meta name="color-scheme" content="light">
    <meta name="supported-color-schemes" content="light">
  </head>
  <body width="100%" style="margin: 0px; padding: 0px;">
    <div role="article" aria-roledescription="email" lang="en" style="width: 100%;">
      <table style="font-family: Arial, sans-serif; width: 100%; text-align: left; border-collapse: collapse;">
        <tbody>
          <tr>
            <td>
              <p>
                <%= yield :salutation %>
              </p>
              <%= yield :body %>
              <% if content_for?(:signature) %>
                <%= yield :signature %>
              <% else %>
                <p>
                  <%= t("mailers.layouts.mail.thanks") %>
                  <br>
                  <%= link_to presenter.school_name, presenter.school_url %>
                </p>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
