<h1>Listing startups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Logo</th>
      <th>Pitch</th>
      <th>Website</th>
      <th>About</th>
      <th>Categories</th>
      <th>Email</th>
      <th>Phone</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @startups.each do |startup| %>
      <tr>
        <td><%= startup.name %></td>
        <td><%= startup.logo %></td>
        <td><%= startup.pitch %></td>
        <td><%= startup.website %></td>
        <td><%= startup.about %></td>
        <td><%= startup.categories.map &:name %></td>
        <td><%= startup.email %></td>
        <td><%= startup.phone %></td>
        <td><%= link_to 'Edit', edit_startup_path(startup) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Startup', new_startup_path if current_user.startup.nil? %>
