<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @startup.name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @startup.logo %>
</p>

<p>
  <strong>Pitch:</strong>
  <%= @startup.pitch %>
</p>

<p>
  <strong>Website:</strong>
  <%= @startup.website %>
</p>

<p>
  <strong>About:</strong>
  <%= @startup.about %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @startup.categories.map &:name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @startup.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @startup.phone %>
</p>

<p>
  <strong>Facebook Link</strong>
  <%= @startup.facebook_link %>
</p>

<p>
  <strong>Twitter Link</strong>
  <%= @startup.twitter_link %>
</p>

<%= link_to 'Edit', edit_startup_path(@startup) %> |
<%= link_to 'Back', startups_path %>
