<% sign_in_link = user_token_url(token: @user.original_login_token) %>

<% content_for :salutation do %>
  <%= t("shared.salutation_name", name: @name) %>
<% end %>

<% content_for :body do %>
  <p>
    <%= t("mailers.course_author.addition.body.added_author_html", course_name: @course.name, school_name: @school.name) %>
  </p>

  <p>
    <%= t("mailers.course_author.addition.body.use_link_html", link_to: link_to(t("mailers.course_author.addition.body.link_to"), sign_in_link), school_name: @school.name) %>
  </p>

  <%= render "mailers/link_fallback", url: sign_in_link %>

  <p><%= t("shared.login_token_expiration_warning_html", timestamp: @user.login_token_expiration_time, login_url: new_user_session_url) %></p>
<% end %>
