<%
  timeline_event = @startup_feedback.timeline_event
  target = @startup_feedback.timeline_event&.target
  target_url = target_url(target) if target.present?
  coach_name = @startup_feedback.faculty.name
%>
<% content_for :salutation do %>
  <%= t("shared.salutation_name", name: @students) %>
<% end %>
<% content_for :body do %>
  <% update_for = timeline_event.present? ? t("mailers.startup.feedback_as_email.body.recent_submission")  : t("mailers.startup.feedback_as_email.body.recent_updates") %>
  <p>
    <%= t("mailers.startup.feedback_as_email.body.main_html", coach_name: coach_name, update_for: update_for) %>
  </p>
  <blockquote style="border-left: 6px solid #e6e6e6; background: #fafafa; padding: 8px 10px;">
    <%= sanitize(MarkdownIt::Parser.new(:commonmark).render(@startup_feedback.feedback)).html_safe %>
  </blockquote>
  <% if target.present? %>
    <p>
      <%= t("mailers.startup.feedback_as_email.body.view_html", link_to: link_to(t("mailers.startup.feedback_as_email.body.link_to"), target_url)) %>
    </p>
  <% end %>
  <%= render 'mailers/link_fallback', url: target_url %>
<% end %>
