<% presenter = Users::EditPresenter.new(self) %>
<% content_for(:head) do %>
  <title><%= presenter.page_title %> | <%= t("users.edit.title") %></title>
<% end %>
<script id="user-edit__props" type="application/json">
  <%= presenter.props_to_json.html_safe %>
</script>
<div class="container mx-auto px-3 py-8 max-w-5xl">
  <div class="bg-white shadow sm:rounded-lg">
    <div class="flex flex-col md:flex-row">
      <div class="w-full md:w-1/3 pr-4 sm:rounded-l-lg bg-primary-500 px-4 py-4 text-white flex flex-col justify-between">
        <h3 class="text-lg font-semibold"><%= t(".discord_title") %></h3>
        <%= image_tag 'users/edit/discord-logo.svg', class: 'w-1/2' %>
      </div>
      <div class="px-4 py-5 sm:p-6 md:mt-0 w-full md:w-2/3">
        <p class="mt-1 text-sm text-gray-600"><%= simple_format(t(".discord_description")) %></p>
        <div class="mt-4">
          <% if current_user.discord_user_id.blank? %>
            <%= link_to "Connect Discord", presenter.discord_federated_login_url, class: 'btn btn-primary btn-large', method: :post %>
          <% else %>
            <%= button_to "Disconnect Discord", clear_discord_id_user_path, class: 'btn btn-primary-ghost btn-large', method: :post %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="react-root"></div>
