<% presenter = Users::HomePresenter.new(self) %>

<% content_for(:head) do %>
  <title><%= presenter.page_title %></title>
  <%= stylesheet_pack_tag 'students/home', media: 'all' %>
<% end %>

<div class="flex flex-col justify-center items-center">
  <div class="student-home-header__container relative svg-bg-pattern-1 student-home-header__container-overlay w-full px-3">
    <div class="relative z-10 pb-20 pt-12 md:px-0 flex items-center justify-center mx-auto">
      <div class="w-full lg:max-w-2xl flex flex-row justify-between text-white items-center">
        <div class="flex flex-row items-center">
          <div class="w-18 h-18 rounded-full bg-gray-500 text-white border-2 shadow border-white flex items-center justify-center overflow-hidden">
            <img src="<%= presenter.avatar %>">
          </div>
          <div class="pl-4">
            <div class="text-lg md:text-2xl font-bold leading-tight"><%= presenter.user_profile.name %></div>
            <div class="text-sm"><%= presenter.user_profile.title %></div>
          </div>
        </div>
        <div>
          <% if presenter.show_profile_edit? %>
            <a class="no-underline text-white border p-2 text-sm rounded mt-2" href="<%= edit_user_profile_path(presenter.user_profile) %>">
              <i class="fas fa-edit text-sm text-white"></i>
              Edit Profile
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full bg-gray-100 relative px-3 pb-6">
    <div class="flex flex-col w-full bg-white lg:max-w-2xl shadow rounded-lg px-6 py-6 mx-auto -mt-10 z-10">
      <div class="flex flex-row items-center">
        <i class="fal fa-book-open text-xl text-primary-500"></i>
        <div class="px-2 text-lg font-semibold">All Courses</div>
      </div>
      <div>
        <% presenter.course_details.each do |course_detail| %>
          <div aria-label='<%= course_detail[:course_name] %>' class="flex flex-col md:flex-row w-full lg:max-w-2xl border border-gray-400 rounded-lg mt-3">
            <div class="student-home-course__cover h-32 md:h-auto flex w-full md:w-1/3 bg-primary-400 relative svg-bg-pattern-2 items-center justify-center p-4 shadow rounded-t md:rounded-t-none md:rounded-l-lg">
              <% if course_detail[:founder_exited] %>
                <div class="font-semibold text-primary-500 bg-white border border-white text-sm p-2 rounded shadow">
                  Dropout out
                </div>
              <% else %>
                <%= link_to course_detail[:cta][:link], method: course_detail[:cta][:method] do %>
                  <div class="text-white bg-transparent font-semibold hover:text-primary-500 hover:bg-white border border-white text-sm p-2 rounded shadow">
                    <%= course_detail[:cta][:text] %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="w-full md:w-2/3 px-4 py-4">
              <div class="text-2xl md:text-4xl font-bold text-black"> <%= course_detail[:course_name] %></div>
              <div class="text-sm"> <%= course_detail[:course_description] %></div>
              <div class="flex flex-row pt-4 flex-wrap">
                <% course_detail[:links].each do |link| %>
                  <%= link_to link[:link], method: link[:method] do %>
                    <div class="text-primary-500 border border-primary-500 hover:bg-primary-100 px-2 py-1 text-sm rounded mt-2 mr-3">
                      <i class="fas fa-book text-sm text-primary-500"></i>
                      <span class="text-xs font-semibold pl-1"> <%= link[:text] %> </span>
                    </div>
                  <% end %>
                <% end %>
                <% if course_detail[:founder_exited] %>
                  <div class="text-sm p-2 bg-red-100 rounded">Your student profile for this course is locked, and cannot
                    be updated.
                    <div>
                <% end %>
                </div>
                </div>
              </div>
        <% end %>
        </div>
        </div>

        <% if presenter.show_communities? %>
          <div class="flex flex-col w-full bg-white lg:max-w-2xl shadow rounded-lg px-6 py-6 mt-6 mx-auto">
            <div class="flex flex-row items-center">
              <i class="fal fa-users-class text-xl text-primary-500"></i>
              <div class="px-2 text-lg font-semibold">Communities</div>
            </div>
            <div class="lg:max-w-2xl flex flex-wrap -mx-2">
              <% presenter.communities.each do |community| %>
                <div class="flex flex-col w-full md:w-1/2 px-2">
                  <%= link_to(community_path(community), class: "h-full mt-3 border border-gray-400 rounded-lg hover:shadow hover:border-gray-500") do %>
                    <div class="student-home-community__cover flex w-full bg-gray-600 h-15 svg-bg-pattern-5 items-center justify-center p-4 shadow rounded-t-lg">

                    </div>
                    <div class="w-full flex justify-between items-center px-4 py-4">
                      <h4 class="font-bold text-sm leading-tight"><%= community.name %></h4>
                      <div class="btn btn-small btn-primary-ghost">Visit Community</div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
