<% presenter = ::Home::IndexPresenter.new(self, current_school) %>

<% content_for(:head) do %>
  <title><%= presenter.page_title %></title>
<% end %>

<div class="pb-10">
  <div class="relative bg-primary-900">
    <div class="relative pb-1/2 md:pb-1/4">
      <% if presenter.cover_image.present? %>
        <img class="absolute h-full w-full object-cover" src=<%= presenter.cover_image %>/>
      <% else %>
        <div class="student-course__cover-default absolute h-full w-full svg-bg-pattern-1"></div>
      <% end %>
    </div>
  </div>
  <div class="max-w-5xl mx-auto">
    <div
      class="relative bg-primary-900 shadow-xl rounded-lg -mt-7">
      <div
        class="relative mx-auto flex flex-col justify-center items-center text-white p-10 text-center">
        <p>👋 Hello, welcome to </p>
        <div>
          <h1 class="flex items-center border-gray-800 rounded px-2 py-1 text-3xl mt-1">
            <span> <%= current_school.name %> </span>
          </h1>
        </div>
        <% if current_school.about.present? %>
          <div class="w-full max-w-lg mt-2 relative flex items-center justify-center rounded px-8 py-5">
            <p class="text-sm">
              <%= current_school.about %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
    <% if presenter.courses.any? %>
      <div>
        <div class="mx-auto text-center pt-8 mt-8">
          <h2 class="school-customize__featured-courses-header relative text-2xl font-bold">
            Featured Courses
          </h2>
        </div>
        <div class="mx-auto">
          <div class="flex flex-wrap flex-1 lg:-mx-5">
            <% presenter.courses.map do |course| %>
              <div class="w-full px-3 lg:px-5 md:w-1/2 mt-6 md:mt-10">
                <div class="flex overflow-hidden shadow bg-white rounded-lg flex flex-col justify-between h-full" aria-label="<%= course.name %>">
                  <div>
                    <div class="relative">
                      <div class="relative pb-1/2 bg-gray-800">
                        <% if presenter.course_thumbnail(course).present? %>
                          <img
                            class="absolute h-full w-full object-cover"
                            src=<%= presenter.course_thumbnail(course) %>
                            />
                        <% else %>
                          <div class="user-home-course__cover absolute h-full w-full svg-bg-pattern-1"></div>
                        <% end %>
                      </div>
                      <div class="user-home-course__title-container absolute w-full flex items-center h-16 bottom-0 z-50">
                        <h4 class="user-home-course__title text-white font-semibold leading-tight pl-6 pr-4 text-lg md:text-xl">
                          <%= course.name %>
                        </h4>
                      </div>
                    </div>
                    <div class="user-home-course__description text-sm px-6 pt-4 w-full leading-relaxed">
                      <%= course.description %>
                    </div>
                    <div class="p-4 mx-auto justify-center flex">
                      <a class="w-full btn btn-large btn-primary-ghost" href="/courses/<%= course.id %>">
                        View Course
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
