<% presenter = ::Layouts::SchoolPresenter.new(self) %>
<% content_for(:head) do %>
  <%= stylesheet_pack_tag 'schools/shared/shared', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>


<main class="min-h-screen flex flex-col">
  <section class="w-full flex-grow mx-auto px-4">
    <header class="'w-full text-center border-b">
      <div class="container max-w-2xl mx-auto px-4">
        <nav class="flex py-5 justify-between items-center">
          <%= image_tag 'home/pupilfirst/pupilfirst-logo.svg', class: 'w-48', alt: 'PupilFirst' %>
          <h4>Style Guide</h4>
        </nav>
      </div>
    </header>
    <div class="container max-w-md mx-auto p-4">
      <div class="bg-grey-lighter pt-6 px-2 pb-2 mt-3 rounded-lg">
        <h3>Button</h3>
        <div class="bg-white border p-6 rounded-lg mt-2">
          <div class="flex flex-col">
            <p class="text-xs text-grey-dark">Small</p>
            <div class="mt-1">
              <button class="btn btn-primary btn-small">Primary</button>
              <button class="btn btn-primary btn-small disabled ml-3">Primary</button>
            </div>
          </div>
          <div class="flex flex-col mt-5">
            <p class="text-xs text-grey-dark">Normal</p>
            <div class="mt-1">
              <button class="btn btn-primary">Primary</button>
              <button class="btn btn-primary disabled ml-3">Primary</button>
            </div>
          </div>
          <div class="flex flex-col mt-5">
            <p class="text-xs text-grey-dark">Large</p>
            <div class="mt-1">
              <button class="btn btn-primary btn-large">Primary</button>
              <button class="btn btn-primary btn-large disabled ml-3">Primary</button>
            </div>
          </div>

          <div class="flex flex-col mt-5">
            <p class="text-xs text-grey-dark">Default</p>
            <div class="mt-1">
              <button class="btn btn-default">Default</button>
              <button class="btn btn-default disabled ml-3">Default</button>
            </div>
          </div>
          <div class="flex flex-col mt-5">
            <p class="text-xs text-grey-dark">Secondary</p>
            <div class="mt-1">
              <button class="btn btn-secondary">Secondary</button>
              <button class="btn btn-secondary disabled ml-3">Secondary</button>
            </div>
          </div>
          <div class="flex flex-col mt-5">
            <p class="text-xs text-grey-dark">Danger</p>
            <div class="mt-1">
              <button class="btn btn-danger">Danger</button>
              <button class="btn btn-danger disabled ml-3">Danger</button>
            </div>
          </div>
          <div class="flex flex-col mt-5">
            <p class="text-xs text-grey-dark">Success</p>
            <div class="mt-1">
              <button class="btn btn-success">Success</button>
              <button class="btn btn-success disabled ml-3">Success</button>
            </div>
          </div>
        </div>

      <div class="bg-grey-lighter pt-6 px-2 pb-2 mt-3 rounded-lg">
        <h3 class="mt-6">Checkbox</h3>
        <div class="bg-white border p-6 rounded-lg mt-2">
          <div class="flex flex-col">
            <p class="text-xs text-grey-dark">Toggle</p>
            <div class="mt-1">
              <div class="text-center">
                <input type="checkbox" id="cbx" style="display:none"/>
                <label for="cbx" class="toggle"><span></span></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="bg-primary-darkest w-full text-center border-t border-grey p-4">
    <div class="container max-w-2xl mx-auto px-4 py-6 flex items-center justify-between">
      <%= image_tag 'home/pupilfirst/pupilfirst-logo-footer.svg', class: 'w-32 opacity-75', alt: 'PupilFirst' %>
      <ul class="footer__social-list flex list-reset">
        <li>
          <a class="footer__social-list__icon inline-block opacity-75" href="#">
            <%= image_tag 'home/pupilfirst/facebook-social-icon.svg', class:'w-6', alt: 'PupilFirst' %>
          </a>
        </li>
        <li class="ml-4">
          <a class="footer__social-list__icon inline-block opacity-75" href="#">
            <%= image_tag 'home/pupilfirst/instagram-social-icon.svg', class:'w-6', alt: 'PupilFirst' %>
          </a>
        </li>
        <li class="ml-4">
          <a class="footer__social-list__icon inline-block opacity-75" href="#">
            <%= image_tag 'home/pupilfirst/slack-social-icon.svg', class:'w-6', alt: 'PupilFirst' %>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</main>

