<% presenter = ::Layouts::SchoolPresenter.new(self) %>
<% content_for(:head) do %>
  <%= stylesheet_pack_tag 'schools/shared/shared', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>


<main class="min-h-screen flex flex-col">
  <section class="w-full flex-grow mx-auto">
    <header class="'w-full text-center border-b">
      <div class="container max-w-2xl mx-auto px-4">
        <nav class="flex py-5 justify-between items-center">
          <%= image_tag 'home/pupilfirst/pupilfirst-logo.svg', class: 'w-48', alt: 'PupilFirst' %>
          <h4>Style Guide</h4>
        </nav>
      </div>
    </header>
    <div class="container max-w-md mx-auto p-4">
      <div class="bg-grey-200 pt-6 px-2 pb-2 mt-3 shadow rounded-lg">
        <h3>Button</h3>
        <div class="bg-white border p-6 rounded-lg mt-2">
          <div class="flex flex-col">
            <p class="text-xs text-grey-dark">Small</p>
            <div class="mt-1 flex">
              <button class="btn btn-primary btn-small">Primary</button>
              <button class="btn btn-primary btn-small disabled ml-3">Primary</button>
              <button class="btn btn-primary btn-small ml-3">
                <i class="fal fa-spinner-third fa-spin mr-2"></i>
                Saving...
              </button>
            </div>
          </div>
          <div class="flex flex-col mt-5">
            <p class="text-xs text-grey-dark">Normal</p>
            <div class="mt-1 flex">
              <button class="btn btn-primary">Primary</button>
              <button class="btn btn-primary disabled ml-3">Primary</button>
              <button class="btn btn-primary ml-3">
                <i class="fal fa-spinner-third fa-spin mr-2"></i>
                Saving...
              </button>
            </div>
          </div>
          <div class="flex flex-col mt-5">
            <p class="text-xs text-grey-dark">Large</p>
            <div class="mt-1 flex">
              <button class="btn btn-primary btn-large">Primary</button>
              <button class="btn btn-primary btn-large disabled ml-3">Primary</button>
              <button class="btn btn-primary btn-large ml-3">
                <i class="fal fa-spinner-third fa-spin mr-2"></i>
                Saving...
              </button>
            </div>
          </div>

          <div class="flex flex-col mt-5">
            <p class="text-xs text-grey-dark">Default</p>
            <div class="mt-1 flex">
              <button class="btn btn-default">Default</button>
              <button class="btn btn-default disabled ml-3">Default</button>
              <button class="btn btn-default ml-3">
                <i class="fal fa-spinner-third fa-spin mr-2"></i>
                Saving...
              </button>
            </div>
          </div>
          <div class="flex flex-col mt-5">
            <p class="text-xs text-grey-dark">Secondary</p>
            <div class="mt-1 flex">
              <button class="btn btn-secondary">Secondary</button>
              <button class="btn btn-secondary disabled ml-3">Secondary</button>
              <button class="btn btn-secondary ml-3">
                <i class="fal fa-spinner-third fa-spin mr-2"></i>
                Saving...
              </button>
            </div>
          </div>
          <div class="flex flex-col mt-5">
            <p class="text-xs text-grey-dark">Danger</p>
            <div class="mt-1 flex">
              <button class="btn btn-danger">Danger</button>
              <button class="btn btn-danger disabled ml-3">Danger</button>
            </div>
          </div>
          <div class="flex flex-col mt-5">
            <p class="text-xs text-grey-dark">Success</p>
            <div class="mt-1 flex">
              <button class="btn btn-success">Success</button>
              <button class="btn btn-success disabled ml-3">Success</button>
              <button class="btn btn-success">
                <i class="fal fa-spinner-third fa-spin mr-2"></i>
                Saving...
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-grey-200 pt-6 px-2 pb-2 mt-6 shadow rounded-lg">
        <h3>Toggle</h3>
        <div class="bg-white border p-6 rounded-lg mt-2">
          <div class="flex flex-col">
            <div class="[ toggle ]">
              <input type="checkbox" class="hidden toggle-input" id="ToggleID"/>
              <label for="ToggleID" class="toggle-label"><span></span></label>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-grey-200 pt-6 px-2 pb-2 mt-6 shadow rounded-lg">
        <h3>Checkbox</h3>
        <div class="bg-white border p-6 rounded-lg mt-2">
          <div class="flex flex-col">
            <div class="[ checkbox ]">
              <input class="hidden checkbox-input" id="CheckboxID" type="checkbox"/>
              <label class="checkbox-label" for="CheckboxID">
                <span>
                  <svg width="12px" height="10px" viewbox="0 0 12 10">
                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                  </svg>
                </span>
                <span class="text-sm">Check Box</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-grey-200 pt-6 px-2 pb-2 mt-6 shadow rounded-lg">
        <h3>Spinner</h3>
        <div class="bg-white border p-6 rounded-lg mt-2">
          <div class="flex flex-col">
            <div class="loading-spinner">
              <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="length" fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
              </svg>
              <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
              </svg>
              <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
              </svg>
              <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
              </svg>
            </div>
            <p class="text-sm font-semibold mt-3">Loading...</p>
          </div>
        </div>
      </div>
      <div class="bg-grey-200 pt-6 px-2 pb-2 mt-6 shadow rounded-lg">
        <h3>Dropdown</h3>
        <div class="bg-white border p-6 rounded-lg mt-2">
          <div class="flex h-48">
            <div class="dropdown inline-block relative">
              <button class="dropdown__btn appearance-none flex bg-grey-200 hover:bg-primary-100 hover:text-primary items-center relative justify-between focus:outline-none font-semibold text-sm relative px-3 py-2 rounded w-full">
                <span>Courses</span>
                <i class="far fa-chevron-down text-xs ml-3 font-semibold"></i>
              </button>
              <ul class="dropdown__list list-reset bg-white shadow-lg rounded mt-1 border absolute overflow-hidden min-w-full w-auto z-50">
                <li class="no-underline cursor-pointer block p-3 text-xs font-semibold text-grey-darkest border-b border-grey-200 bg-white hover:text-primary hover:bg-grey-200 whitespace-no-wrap">
                  Dropdown list text
                </li>
                <li class="no-underline cursor-pointer block p-3 text-xs font-semibold text-grey-darkest border-b border-grey-200 bg-white hover:text-primary hover:bg-grey-200 whitespace-no-wrap">
                  Dropdown list text long
                </li>
                <li class="no-underline cursor-pointer block p-3 text-xs font-semibold text-grey-darkest border-b border-grey-200 bg-white hover:text-primary hover:bg-grey-200 whitespace-no-wrap">
                  Dropdown list text looooong
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-grey-200 pt-6 px-2 pb-2 mt-6 shadow rounded-lg">
        <h3>Avatar</h3>
        <div class="bg-white border p-6 rounded-lg mt-2">
          <div class="flex items-end">
            <div class="px-3 text-center">
              <div class="avatar-lg w-14 h-14 rounded-full bg-grey text-white flex items-center justify-center mx-auto">
                <i class="fas fa-user-alt text-3xl"></i>
              </div>
              <span class="text-xs mt-2 font-semibold">avatar-lg</span>
            </div>
            <div class="px-3 text-center">
              <div class="avatar w-11 h-11 rounded-full bg-grey text-white flex items-center justify-center mx-auto">
                <i class="fas fa-user-alt text-2xl"></i>
              </div>
              <span class="text-xs mt-2 font-semibold">avatar-default</span>
            </div>
            <div class="px-3 text-center">
              <div class="avatar-sm w-8 h-8 rounded-full bg-grey text-white flex items-center justify-center mx-auto">
                <i class="fas fa-user-alt"></i>
              </div>
              <span class="text-xs mt-2 font-semibold">avatar-sm</span>
            </div>
            <div class="px-3 text-center">
              <div class="avatar-xs w-6 h-6 rounded-full bg-grey text-white flex items-center justify-center mx-auto">
                <i class="fas fa-user-alt text-xs"></i>
              </div>
              <span class="text-xs mt-2 font-semibold">avatar-xs</span>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-grey-200 pt-6 px-2 pb-2 mt-6 shadow rounded-lg">
        <h3>Textfield</h3>
        <div class="bg-white border p-6 rounded-lg mt-2">
          <div class="flex flex-col">
            <div class="w-full">
              <label class="inline-block tracking-wide text-grey-darker text-xs font-semibold">
                Label
              </label>
              <input class="appearance-none h-10 mt-1 block w-full text-grey-darker border border-grey-light rounded py-2 px-4 text-sm bg-grey-100 hover:bg-grey-200 focus:outline-none focus:bg-white focus:border-primary-light" type="text" placeholder="Input Text">
            </div>
            <div class="w-full mt-4">
              <label class="inline-block tracking-wide text-grey-darker text-xs font-semibold">
                Label*
              </label>
              <input class="appearance-none h-10 mt-1 block w-full text-grey-darker border border-red rounded py-2 px-4 text-sm bg-red-100 hover:bg-grey-200 focus:outline-none focus:bg-white focus:border-primary-light" type="text" placeholder="Input Text">
              <div class="text-red-dark text-xs mt-2">
                <i class="fa fa-exclamation-triangle"></i>
                <span class="ml-1">Please fill out this field.</span>
              </div>
            </div>
            <div class="w-full mt-4">
              <label class="inline-block tracking-wide text-grey-darker text-xs font-semibold">
                Password*
              </label>
              <input class="appearance-none h-10 mt-1 block w-full text-grey-darker border border-grey-light rounded py-2 px-4 text-sm bg-grey-100 hover:bg-grey-200 focus:outline-none focus:bg-white focus:border-primary-light" type="password" placeholder="Input Text">
              <div class="text-green-dark text-xs mt-2">
                <i class="fas fa-check-circle"></i>
                <span class="ml-1">Awesome Password</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-grey-200 pt-6 px-2 pb-2 mt-6 shadow rounded-lg">
        <h3>Badges</h3>
        <div class="bg-white border p-6 rounded-lg mt-2">
          <div class="flex flex-col">
            <p class="text-xs font-semibold">Subtle</p>
            <div class="mt-3">
              <span class="inline-block bg-grey-200 rounded px-2 pb-1 truncate">
                <span class="text-xs font-semibold text-grey-darkest">Default</span>
              </span>
              <span class="inline-block bg-green-100 rounded px-2 pb-1 ml-3 truncate">
                <span class="text-xs font-semibold text-green-darker">Success</span>
              </span>
              <span class="inline-block bg-red-100 rounded px-2 pb-1 ml-3 truncate">
                <span class="text-xs font-semibold text-red-dark">Error</span>
              </span>
              <span class="inline-block bg-blue-100 rounded px-2 pb-1 ml-3 truncate">
                <span class="text-xs font-semibold text-blue-dark">Info</span>
              </span>
              <span class="inline-block bg-orange-100 rounded px-2 pb-1 ml-3 truncate">
                <span class="text-xs font-semibold text-orange-dark">Warning</span>
              </span>
              <span class="inline-block bg-primary-100 rounded px-2 pb-1 ml-3 w-25 truncate">
                <span class="text-xs font-semibold text-primary-dark">Loooooong text will be truncated</span>
              </span>
            </div>
          </div>
          <div class="flex flex-col mt-8">
            <p class="text-xs font-semibold">Bold</p>
            <div class="mt-3">
              <span class="inline-block bg-grey-darker text-grey-200 rounded px-2 pb-1 truncate">
                <span class="text-xs font-semibold text-truncate">Default</span>
              </span>
              <span class="inline-block bg-green-dark text-green-100 rounded px-2 pb-1 ml-3 truncate">
                <span class="text-xs font-semibold text-truncate">Success</span>
              </span>
              <span class="inline-block bg-red text-red-100 rounded px-2 pb-1 ml-3 truncate">
                <span class="text-xs font-semibold text-truncate">Error</span>
              </span>
               <span class="inline-block bg-blue text-blue-100 rounded px-2 pb-1 ml-3 truncate">
                <span class="text-xs font-semibold">Info</span>
              </span>
              <span class="inline-block bg-orange text-orange-100 rounded px-2 pb-1 ml-3 truncate">
                <span class="text-xs font-semibold">Warning</span>
              </span>
              <span class="inline-block bg-primary text-primary-100 rounded px-2 pb-1 ml-3 w-25 truncate">
                <span class="text-xs font-semibold">Loooooong text will be truncated</span>
              </span>
            </div>
          </div>
          <div class="flex flex-col mt-8">
            <p class="text-xs font-semibold">Bold</p>
            <div class="mt-3">
              <span class="inline-flex items-center justify-center bg-grey-darker text-grey-200 rounded truncate">
                <span class="text-xs font-semibold px-2 py-1">Default</span>
                <span class="pr-2">
                  <i class="fal fa-times"></i>
                </span>
              </span>
              <span class="inline-flex items-center justify-center bg-green-dark text-green-100 rounded ml-3 truncate">
                <span class="text-xs font-semibold px-2 py-1">Success</span>
                <span>
                  <i class="fal fa-times mr-2"></i>
                </span>
              </span>
              <span class="inline-flex items-center justify-center bg-red text-red-100 rounded ml-3 truncate">
                <span class="text-xs font-semibold px-2 py-1">Error</span>
                <span>
                  <i class="fal fa-times mr-2"></i>
                </span>
              </span>
               <span class="inline-flex items-center justify-center bg-blue text-blue-100 rounded ml-3 truncate">
                <span class="text-xs font-semibold px-2 py-1">Info</span>
                <span>
                  <i class="fal fa-times mr-2"></i>
                </span>
              </span>
              <span class="inline-flex items-center justify-center bg-orange text-orange-100 rounded ml-3 truncate">
                <span class="text-xs font-semibold px-2 py-1">Warning</span>
                <span>
                  <i class="fal fa-times mr-2"></i>
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="bg-primary-darkest w-full text-center border-t border-grey p-4">
    <div class="container max-w-2xl mx-auto px-4 py-6 flex items-center justify-between">
      <%= image_tag 'home/pupilfirst/pupilfirst-logo-footer.svg', class: 'w-32 opacity-75', alt: 'PupilFirst' %>
      <ul class="footer__social-list flex list-reset">
        <li>
          <a class="footer__social-list__icon inline-block opacity-75" href="#">
            <%= image_tag 'home/pupilfirst/facebook-social-icon.svg', class:'w-6', alt: 'PupilFirst' %>
          </a>
        </li>
        <li class="ml-4">
          <a class="footer__social-list__icon inline-block opacity-75" href="#">
            <%= image_tag 'home/pupilfirst/instagram-social-icon.svg', class:'w-6', alt: 'PupilFirst' %>
          </a>
        </li>
        <li class="ml-4">
          <a class="footer__social-list__icon inline-block opacity-75" href="#">
            <%= image_tag 'home/pupilfirst/slack-social-icon.svg', class:'w-6', alt: 'PupilFirst' %>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</main>

