


<header class="header-block">
  <div class="header-wrap">
  <div class="logo"><a href="/"><%= image_tag "logo.png"   %></a></div>
  <div class="home-top-right-block">

     <div class="navbar">
       <ul class="nav">
         <li class="active"><a href="/team">Team</a></li>
         <li><a href="/jobs">Job Openings</a></li>
         <li><a href="/users/sign_in">Sign In</a></li>

       </ul>

     </div>


  </div>
    <div class="clear"></div>
  </div>

</header>
<div class="team-block">
  <div class="team-top-wrap">
    <h1> Meet the Team </h1>
   <p> We believe there is something called the ‘DNA’ of a team. It’s what that makes one company different from another. In our case, it’s made of passion, confidence, youthful energy, out-of-the-box thinking and great team spirit.     </p>
  </div>





<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <div class="teammates">
    <div class="carousel-indicators">
        <%= image_tag "sajith_amma.jpg", :class=>'circle', "data-target" => "#carousel-example-generic",  "data-slide-to" => "0"    %>

        <%= image_tag "nandu.jpg", :class=>'circle', "data-target" => "#carousel-example-generic",  "data-slide-to" => "1"   %>

        <%= image_tag "anoop.jpg", :class=>'circle', "data-target" => "#carousel-example-generic",  "data-slide-to" => "2"   %>


        <%= image_tag "vishnu.jpg", :class=>'circle', "data-target" => "#carousel-example-generic",  "data-slide-to" => "3"    %>


        <%= image_tag "sreekanth.jpg", :class=>'circle', "data-target" => "#carousel-example-generic",  "data-slide-to" => "4"    %>


        <%= image_tag "akhil.jpg", :class=>'circle', "data-target" => "#carousel-example-generic",  "data-slide-to" => "5"    %>


    </div>


  </div>

  <div class="carousel-inner">
    <div class="item">
      <h2>Sajith Amma <span class="designation"> as Chief Architech</span></h2>
      <h4><%= image_tag "g_plus.png" %> <%= image_tag "twitter2.png" %> <%= image_tag "linkedin2.png" %> </h4>
      <p>Sajith Amma is the Chief Solution Architect of MobMe Wireless solutions. He has his Engineering in Computer Science from Cochin University in 2005. After University, Sajith Amma joined with Sanjay and Sony's team for Kerala's first Technology Incubation Startup company MobME, located at Technopark, Trivandrum, in 2006.
        He was the technical head of many early products of MobMe such as Mobshare, FastAlert, and many other Value Added Service solutions till 2008 </p>
      <p>Sajth went UK for his Masters in Business Information System from University of East London. After finishing his certification, he worked as a technology consultant for different UK MNOs such as Orange UK, O2 and T-Mobile. In 2012 Sajith joined back MobMe as Chief Solutions Architect. &nbsp;As a person having international work experiences &nbsp;Sajith is a very good mentor for others to do things right way, and excel the team to deliver quality products on time.</p>
      <p>Specialising in PHP, MVC, Ruby, &nbsp;Agile, LAMP and iPhone Application Development, Sajith has over 8 years experience in the web programming industry during which time he has had his work featured in high profile lists on websites like Mashable. As a passionate coder, Sajith always write articles through his technical blog <a href="http://www.sajithmr.me/">www.sajithmr.me</a> and which has more than hundred thousands of visits every month. Many of his opensource tools are very famous for techies through internet. &nbsp;Also for the International Book &nbsp;&quot;Learning Adobe Edge&quot; &nbsp;published in 2012, Sajith was the chief reviewer for that. </p>
      <p>Right now in MobME, Sajith is the tech head of the Mobile ID department, with a team of 7 members. </p>    </div>
    <div class="item active">
      <h2>Nanda Sankaran <span class="designation"> as Engineering Architect</span>     </h2>
      <h4><%= image_tag "g_plus.png" %> <%= image_tag "twitter2.png" %> <%= image_tag "linkedin2.png" %> </h4>
<p>Got hooked to programming as a kid at school. Spent insane number of hours in front of the flickering monitor making virtual clocks and Pianos. Then the world taught him Python & HTML & Javascript through the internet. Loves to work on his modest Linux machine and craft code on Emacs. Recently he is learning Arduino, dreaming of building his obedient servant bot someday.
</p>    </div>
    <div class="item">
      <h2>Anoop Sanker <span class="designation"> as VP</span></h2>
      <h4><%= image_tag "g_plus.png" %> <%= image_tag "twitter2.png" %> <%= image_tag "linkedin2.png" %> </h4>
      <p> Like Vishnu, Anoop started off with computers very young building programs from the days of QBasic. Nowadays he enjoys practicing his craft in Ruby. He also claims to be a superstar in brewing Java and baking HTML with a sprinkle of Javascript and CSS. He started his career tuning engines with software in Bosch Engineering, but his love for startups brought him here. Apart from all that, he is also interested in traveling, movies and writing.
      </p>
    </div>
    <div class="item">
      <h2>Vishnu Gopal <span class="designation"> as CTO</span></h2>
      <h4><%= image_tag "g_plus.png" %> <%= image_tag "twitter2.png" %> <%= image_tag "linkedin2.png" %> </h4>
      <p> Vishnu is CTO, MobME Wireless Solutions & has been programming since he was eight years old and his dad bought him a computer that displayed just green & black. He started his career working at SlideShare Inc. & has worked in startup all his life. Outside of work he devours two books a week and is also pursuing a part-time English arts course.
      </p>
    </div>

    <div class="item">
      <h2>Sreekanth <span class="designation"> as Software Engineer</span></h2>
      <h4><%= image_tag "g_plus.png" %> <%= image_tag "twitter2.png" %> <%= image_tag "linkedin2.png" %> </h4>
      <p>Programming for over 14 years . Started with BASIC and dirtied hands on VB 6, VC++ and C#. Was stuck with PHP for a while until Vishnu introduced him to Ruby and RoR. Built India's most successful SMS messaging platform while in College.<br />
        Went from a coder, to an architect to a team lead managing software and VAS services for India's major Telco Providers. Lover of Flat UX Design principles. Is passionate about trendy programming funda like Node, Angularjs, Go, Scala &amp; GroovyTalks tech. Codes for fun. Finds time to experiment on Coding Challenges and Problem Solving.
      </p>
    </div>

    <div class="item">
      <h2>Akhil Stanislavose <span class="designation"> as  Software Engineer</span></h2>
      <h4><%= image_tag "g_plus.png" %> <%= image_tag "twitter2.png" %> <%= image_tag "linkedin2.png" %> </h4>
      <p> Like Vishnu, Anoop started off with computers very young building programs from the days of QBasic. Nowadays he enjoys practicing his craft in Ruby. He also claims to be a superstar in brewing Java and baking HTML with a sprinkle of Javascript and CSS. He started his career tuning engines with software in Bosch Engineering, but his love for startups brought him here. Apart from all that, he is also interested in traveling, movies and writing.
      </p>
    </div>

  </div>
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>


</div>








