<div class="relative" id="schoolrouter-innerpage-data">
  <div class="max-w-6xl mx-auto px-5">
    <div class="mt-6 grid grid-cols-2 gap-5">
      <div class="bg-whtie border border-gray-200 rounded-lg">
        <div data-re-component="SimpleBackButton" data-re-json="{}" class="-mt-4 ms-4 max-w-max "></div>
        <div class="mt-2 p-4 flex flex-col items-center text-center">
          <img src="<%= @presenter.avatar_url %>" alt="<%= @presenter.user.name %>" class="w-25 h-25 object-cover border border-gray-200 rounded-full">
          <h1 class="mt-3 text-lg font-bold"><%= @presenter.user.name %></h1>
          <p class="text-sm text-gray-500 font-medium"><%= @presenter.type_tags %></p>
        </div>
        <div class="p-4 border-t border-gray-200 flex flex-col gap-3">
          <div class="flex items-center gap-3">
            <p class="text-xl text-gray-600"><i class="if i-users-light if-fw" ></i></p>
            <div>
              <p class="text-sm text-gray-500">User ID</p>
              <p class="text-sm font-bold">#<%= @presenter.user.id %></p>
            </div>
          </div>
          <div class="flex items-center gap-3">
            <p class="text-xl text-gray-600"><i class="if i-users-light if-fw" ></i></p>
            <div>
              <p class="text-sm text-gray-500">Email</p>
              <p class="text-sm font-bold"><%= @presenter.user.email %></p>
            </div>
          </div>
          <div class="flex items-center gap-3">
            <p class="text-xl text-gray-600"><i class="if i-users-light if-fw" ></i></p>
            <div>
              <p class="text-sm text-gray-500">Standing</p>
              <p class="text-sm font-bold"><%= @presenter.current_standing.name %></p>
            </div>
          </div>
          <% if @presenter.organisation_names.present? %>
            <div class="flex items-center gap-3">
              <p class="text-xl text-gray-600"><i class="if i-school-light if-fw" ></i></p>
              <div>
                <p class="text-sm text-gray-500">Affiliation</p>
                <p class="text-sm font-bold"><%= @presenter.organisation_names %></p>
              </div>
            </div>
          <% end %>
        </div>
        <div class="p-4 border-t border-gray-200">
          <h3 class="uppercase text-xs text-gray-500 font-bold">Tags Applied</h3>
          <div class="flex items-center flex-wrap gap-1.5 mt-3">
            <% @presenter.tags.each do |tag| %>
              <p class="px-2 py-1 rounded-full text-sm text-gray-700 bg-gray-100 border border-gray-200 font-medium"><%= tag %></p>
            <% end %>
          </div>
          <h3 class="mt-5 uppercase text-xs text-gray-500 font-bold">Personal coach</h3>
          <div class="mt-3">
            <!--             When personal coach is present-->
            <!--            <div class="flex items-center flex-wrap gap-4">-->
            <!--              <div class="flex items-center gap-2">-->
            <!--                <img src="" alt="coach name" class="w-8 h-8 rounded-full object-contain" >-->
            <!--                <p>Coach name</p>-->
            <!--              </div>-->
            <!--          </div>-->
            <p class="text-sm text-gray-700 bg-gray-100 px-3 py-2 rounded-lg">This student doesn't have any personal coach allocated</p>
          </div>
        </div>
        <div class="p-4 bg-gray-50 border-t border-gray-200 rounded-b-lg">
          <div class="flex items-center gap-3">
            <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_18_122)">
                <mask id="mask0_18_122" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="21" height="16">
                  <path d="M20.1152 0.259888H0.115234V15.6697H20.1152V0.259888Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_18_122)">
                  <path d="M17.0461 1.63214C15.7713 1.05038 14.4044 0.621761 12.9752 0.376274C12.9491 0.371536 12.9231 0.383376 12.9097 0.407057C12.7339 0.718058 12.5392 1.12379 12.4028 1.44268C10.8656 1.21378 9.33622 1.21378 7.8305 1.44268C7.69411 1.1167 7.49231 0.718058 7.31571 0.407057C7.30231 0.384166 7.2763 0.372326 7.25028 0.376274C5.82183 0.620977 4.45487 1.04959 3.17935 1.63214C3.1683 1.63688 3.15884 1.64478 3.15256 1.65503C0.559727 5.50788 -0.150558 9.26603 0.197884 12.9776C0.199461 12.9957 0.209709 13.0131 0.223899 13.0242C1.93458 14.2737 3.59166 15.0323 5.21797 15.5351C5.244 15.543 5.27157 15.5335 5.28814 15.5122C5.67284 14.9897 6.01577 14.4387 6.3098 13.8593C6.32715 13.8254 6.31059 13.7851 6.27512 13.7717C5.73118 13.5664 5.21323 13.3162 4.71501 13.0321C4.6756 13.0092 4.67245 12.9531 4.7087 12.9263C4.81354 12.8481 4.91842 12.7668 5.01853 12.6847C5.03664 12.6697 5.06188 12.6666 5.08318 12.676C8.35631 14.1624 11.8999 14.1624 15.1344 12.676C15.1557 12.6658 15.1809 12.6689 15.1998 12.6839C15.2999 12.766 15.4048 12.8481 15.5104 12.9263C15.5467 12.9531 15.5443 13.0092 15.5049 13.0321C15.0067 13.3217 14.4887 13.5664 13.944 13.7709C13.9085 13.7843 13.8928 13.8254 13.9101 13.8593C14.2104 14.4379 14.5534 14.9889 14.931 15.5114C14.9468 15.5335 14.9751 15.543 15.0012 15.5351C16.6353 15.0323 18.2924 14.2737 20.0031 13.0242C20.0181 13.0131 20.0275 12.9965 20.0291 12.9784C20.4461 8.68741 19.3306 4.96008 17.0721 1.65582C17.0666 1.64478 17.0571 1.63688 17.0461 1.63214ZM6.79859 10.7176C5.81315 10.7176 5.00118 9.81779 5.00118 8.71268C5.00118 7.60757 5.7974 6.70772 6.79859 6.70772C7.80763 6.70772 8.61174 7.61547 8.59597 8.71268C8.59597 9.81779 7.79974 10.7176 6.79859 10.7176ZM13.4442 10.7176C12.4588 10.7176 11.6468 9.81779 11.6468 8.71268C11.6468 7.60757 12.443 6.70772 13.4442 6.70772C14.4533 6.70772 15.2573 7.61547 15.2416 8.71268C15.2416 9.81779 14.4533 10.7176 13.4442 10.7176Z" fill="#5865F2"/>
                </g>
              </g>
              <defs>
                <clipPath id="clip0_18_122">
                  <rect width="20" height="15.4098" fill="white" transform="translate(0.115234 0.259888)"/>
                </clipPath>
              </defs>
            </svg>
            <h3 class="uppercase text-xs text-gray-500 font-bold">Discord</h3>
          </div>
          <div class="mt-3 flex items-center justify-between gap-3 text-sm">
            <div class="flex items-center gap-3">
              <% if @presenter.user.discord_user_id.present? %>
                <p class="font-semibold">#<%= @presenter.user.discord_user_id %></p>
                <p aria-hidden="true" class="text-gray-300">--</p>
                <p class="text-green-600 font-semibold"><i class="if i-link-regular if-fw inline-block me-1" ></i>Linked</p>
              <% else %>
                <p class="text-red-600 font-semibold"><i class="if i-link-regular if-fw inline-block me-1" ></i>Not Linked</p>
              <% end %>
            </div>
            <a href="<%= edit_school_user_path(@presenter.user) %>" class="block px-2 py-1 bg-primary-50 border border-primary-200 text-primary-500 font-medium rounded-lg hover:bg-primary-100 transition"><i class="if i-edit-regular if-fw inline-block me-1" ></i>Edit roles</a>
          </div>
          <h3 class="mt-4 uppercase text-xs text-gray-500 font-bold">Discord roles assigned</h3>
          <div class="flex items-center flex-wrap gap-1.5 mt-3">
            <% @presenter.discord_role_names.each do |role_name| %>
              <p class="px-2 py-1 rounded-full text-sm text-gray-700 bg-gray-100 border border-gray-200 font-medium"><%= role_name %></p>
            <% end %>
          </div>
        </div>
      </div>
      <div>
        <div>
          <% if  @presenter.courses_taken.present? %>
            <h2 class="text-xl font-bold">Courses taken</h2>
            <div class="mt-4 flex flex-col gap-4">
              <!--Course card -->
              <% @presenter.courses_taken.each do |course| %>
                <% student = @presenter.course_student(course) %>
                <div class="bg-white border border-gray-200 rounded-lg overflow-hidden">
                  <div class="p-4">
                    <div class="flex items-center gap-3">
                      <div class="w-20 border border-gray-200 rounded-xl">
                        <div class="w-full pt-1/2 relative">
                          <% if course.thumbnail_url.present? %>
                            <img src="<%= course.thumbnail_url  %>" alt="Course image" class="absolute top-0 object-cover rounded-lg">
                          <% else %>
                            <div class="svg-bg-pattern-2 absolute inset-0 rounded-xl object-cover svg-bg-pattern-1"></div>
                          <% end %>
                        </div>
                      </div>
                      <div>
                        <p class="text-base font-semibold"><%= course.name %></p>
                        <p class="text-sm text-gray-500">Student ID <b>#<%= student.id %></b></p>
                      </div>
                    </div>
                    <div class="mt-5 grid grid-cols-2 gap-4">
                      <div>
                        <p class="text-xs font-medium uppercase">Cohort</p>
                        <p class="text-sm text-gray-500"><%= @presenter.user_course_cohort(course).name %></p>
                      </div>
                      <div>
                        <p class="text-xs font-medium uppercase">Course progress</p>
                        <p class="text-sm text-green-600"><%= @presenter.course_progress(course, student) %>% completed</p>
                      </div>
                    </div>
                  </div>
                  <div class="bg-primary-50 grid grid-cols-2">
                    <a href="/school/students/<%= student.id %>/details" class="p-4 text-sm font-medium text-primary-500 text-center hover:bg-primary-100 transition">View student profile</a>
                    <a href="<%= student_report_path(student) %>" class="p-4 text-sm font-medium text-primary-500 text-center border-s border-primary-100 hover:bg-primary-100 transition">View course progress</a>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
          <!--coaches in section -->
          <% if @presenter.courses_coached.present? %>
            <h2 class="mt-6 text-xl font-bold">Coaches in</h2>
            <div class="mt-4 flex flex-col gap-4">
              <!--Course card -->
              <% @presenter.courses_coached.each do |course| %>
                <div class="p-4 bg-white border border-gray-200 rounded-lg flex items-center gap-3 overflow-hidden">
                  <div class="w-20 border border-gray-200 rounded-xl">
                    <div class="w-full pt-1/2 relative">
                      <% if course.thumbnail_url.present? %>
                        <img src="<%= course.thumbnail_url  %>" alt="Course image" class="absolute top-0 object-cover rounded-lg">
                      <% else %>
                        <div class="svg-bg-pattern-2 absolute inset-0 rounded-xl object-cover svg-bg-pattern-1"></div>
                      <% end %>
                    </div>
                  </div>
                  <p class="text-base font-semibold"><%= course.name %></p>
                </div>
              <% end %>
            </div>
          <% end %>
          <!--Authors in section -->
          <% if @presenter.courses_authored.present? %>
            <h2 class="mt-6 text-xl font-bold">Authors in</h2>
            <div class="mt-4 flex flex-col gap-4">
              <!--Course card -->
              <% @presenter.courses_authored.each do |course| %>
                <div class="p-4 bg-white border border-gray-200 rounded-lg flex items-center gap-3 overflow-hidden">
                  <div class="w-20 border border-gray-200 rounded-xl">
                    <div class="w-full pt-1/2 relative">
                      <% if course.thumbnail_url.present? %>
                        <img src="<%= course.thumbnail_url  %>" alt="Course image" class="absolute top-0 object-cover rounded-lg">
                      <% else %>
                        <div class="svg-bg-pattern-2 absolute inset-0 rounded-xl object-cover svg-bg-pattern-1"></div>
                      <% end %>
                    </div>
                  </div>
                  <p class="text-base font-semibold"><%= course.name %></p>
                </div>
              <% end %>
            </div>
          <% end %>
          <!--Personally coaches section -->
          <% if @presenter.students_coached.present? %>
            <h2 class="mt-6 text-xl font-bold">Personally coaches to <span class="font-light">(<%= @presenter.students_coached.size %>)</span></h2>
            <div class="mt-4 flex flex-col gap-4">
              <!--Course card -->
              <% @presenter.students_coached.each do |student| %>
                <div class="p-4 bg-white border border-gray-200 rounded-lg flex items-center justify-between gap-3 overflow-hidden">
                  <div class="flex items-center gap-3">
                    <img src="<%= student.user.avatar_url || student.user.initials_avatar %>" alt="Course image" class="w-12 h-12 object-cover rounded-full border border-gray-200">
                    <div>
                      <p class="text-base font-semibold"><%= student.name %></p>
                      <p class="text-sm text-gray-500"><%= student.course.name%></p>
                    </div>
                  </div>
                  <a href="/school/students/<%= student.id %>/details" title="view students profile" class="w-8 h-8 flex items-center justify-center text-sm bg-primary-50 border border-primary-200 text-primary-500 rounded-full hover:bg-primary-100 transition">
                    <i class="if i-external-link-light if-fw" ></i>
                  </a>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
