<% content_for(:head) do %>
  <title><%= @course.name %> | <%= t(".title") %> </title>
<% end %>
<div class="relative" id="schoolrouter-innerpage-data">
  <div class="max-w-3xl mt-5 mx-auto my-4">
    <div class="rounded-lg border border-gray-300 shadow-md divide-y">
      <div class="flex justify-center ">
        <h3 class="py-8 font-semibold text-gray-600"><%= t(".list_title", course_name: @course.name) %></h3>
      </div>
      <% @presenter.milestone_targets.each_with_index do |target, index| %>
        <div class="flex">
          <% unless @presenter.last_index < 1 %>
            <div class="flex flex-col">
              <% unless index < 1 %>
                <%= button_to @presenter.link(target.id, "up"), method: :patch, class: "h-full", form_class: "h-full px-2 hover:shadow-sm hover:border" do %>
                  <i class="if i-arrow-up-solid if-fw" ></i>
                <% end %>
              <% end %>
              <% unless index == @presenter.last_index %>
                <%= button_to @presenter.link(target.id), method: :patch, class: "h-full", form_class: "h-full px-2 hover:shadow-sm hover:border" do %>
                  <i class="if i-arrow-down-solid if-fw" ></i>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <a href="<%= @presenter.details_tab_link(target.id) %>" class="flex justify-between w-full items-center h-full py-5 px-2">
            <p class="text-sm"><%= target.title %></p>
            <div class="flex items-center flex-shrink-0 text-xs font-medium bg-yellow-100 border border-yellow-200 text-yellow-800 ms-2 px-1.5 md:px-2 py-1 rounded-md">
              <i class="if i-milestone-solid if-fw" ></i>
              <span><%= t(".milestone")%></span>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
