<% content_for(:head) do %>
  <title><%= @course.name %> | <%= t(".title") %> </title>
<% end %>

<div class="relative" id="schoolrouter-innerpage-data">
  <div class="max-w-6xl mx-auto px-5 mt-8">
    <div class="flex items-end justify-between gap-2">
      <h1 class="text-xl font-semibold"> Calendar </h1>
      <div>
        <%= link_to new_school_course_calendar_event_path(@course), class: "btn btn-primary block" do %>
          <i class="if i-plus-regular if-fw" ></i>
          Add an event
        <% end %>
      </div>
    </div>
    <div  class="mt-4 grid grid-cols-12 bg-gray-50 rounded-lg border border-gray-200 overflow-hidden">
      <div class="col-span-4 p-6 border-r border-gray-200 sticky top-0">
        <div id="course-calendar-picker" class="pb-4" >
          <div data-re-component="CalendarsIndex__DatePicker" data-re-json=<%=@presenter.date_picker_props%>></div>
        </div>
        <div class="pt-6 border-t border-gray-200 flex items-center justify-between gap-2 p-1">
          <p class="text-lg font-semibold ">Calendars</p>
          <a
            class="block btn btn-default btn-small"
            ariaLabel="Add new calendar"
            title="Add new calendar"
            href=<%= new_school_course_calendar_path(@course)%>>
            <i class="if i-plus-regular if-fw" ></i>
            <span>Add Calendar</span>
          </a>
        </div>
        <div class="bg-white mt-3 shadow-sm px-2 py-1 rounded-md text-sm flex items-center justify-between">
          <% @course.calendars.each do |calendar|  %>
            <span class="flex items-center gap-2 font-semibold">
              <%= calendar.name %>
            </span>
            <a href=<%= edit_school_course_calendar_path(@course, calendar) %> class="bg-gray-50 p-2 rounded-md hover:bg-gray-200 hover:text-primary-500 focus:ring-2 focus:ring-focusColor-500 transition">
              <i class="if i-edit-regular if-fw text-base" ></i>
            </a>
          <% end %>
        </div>
      </div>
      <div class="col-span-8 bg-white flex-1">
        <div class="flex gap-4 items-center justify-between bg-gray-50 p-6">
          <p class="text-lg font-semibold">Events</p>
          <div class="flex items-center space-x-2">
            <label class="text-sm font-medium flex-shrink-0 text-gray-600">Showing events from</label>
            <select name="Calendars" required class="select block w-full rounded-md bg-white border border-gray-300 py-2 pl-3 pr-10 text-base sm:text-sm focus:outline-none focus:bg-primary-100 focus:text-primary-500 focus:ring-2 focus:ring-focusColor-500 transition">
              <option value="main">[[Main]]</option>
              <option value="calendar-1">[[Calendar 2]]</option>
            </select>
          </div>
        </div>
        <div class="flex flex-col gap-8 divide-y p-6">
          <div>
            <div>
              <p class="font-semibold text-sm text-gray-600"><%=@presenter.selected_date%>
                <% if @presenter.today? %>
                  <span aria-hidden="true"></span>- </span> <em class="font-normal">Today</em>
                <% end %>
              </p>
              <% if @presenter.events_for_day.blank? %>
                <div class="mt-3 flex flex-col items-center text-center p-4 bg-gray-100 rounded-lg">
                  <p><i class="if i-calendar-solid if-fw text-3xl"></i></p>
                  <p class="text-sm font-semibold mt-4">No event scheduled for the selected date</p>
                  <%# <p class="text-gray-600 text-sm w-3/4">Events help you to mark the calendar. blah blah blah. <a href="#" class="text-primary-500 font-medium hover:underline">Learn more about events</a></p> %>
                </div>
              <% end %>
            </div>
            <div>
              <div class="mt-3 flex flex-col gap-4">
                <% @presenter.events_for_day.each do |event|%>
                  <%= render partial: "event_card", locals: {event: event} %>
                <% end %>
              </div>
            </div>
          </div>
          <% if @presenter.upcoming_events_for_month.present? %>
          <div class="pt-4">
            <p class="font-semibold text-sm text-gray-600">Upcoming events in <%= @presenter.selected_month %></p>
            <div>
              <div class="mt-3 flex flex-col gap-4">
                <% @presenter.upcoming_events_for_month.each do |event|%>
                  <%= render partial: "event_card", locals: {event: event} %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
