<% content_for(:head) do %>
  <title><%= @course.name %> | <%= t(".title") %> </title>
<% end %>

<div id="schoolrouter-innerpage-data">
  <div class="max-w-6xl mx-auto px-5 mt-8">
    <div class="flex items-center justify-between gap-2">
      <h1 class="text-xl font-semibold"> Calendar </h1>
      <a href=<%= calendar_events_school_course_path(@course)%> class="text-primary-500 font-medium text-sm hover:underline">
        See all upcoming events
      </a>
    </div>
    <div  class="mt-6 grid grid-cols-12 bg-gray-50 rounded-lg border border-gray-200 overflow-hidden">
      <div class="col-span-4 p-6 border-r border-gray-200">
        <div id="course-calendar-picker" class="pb-4" >
          <div data-re-component="CalendarsIndex__DatePicker" data-re-json=<%={id: "10"}.to_json%>></div>
        </div>
        <div class="pt-2 border-t border-gray-200 flex items-center justify-between gap-2 p-1">
          <p class="text-base font-medium ">Calendars</p>
          <a
            class="p-2 rounded-md hover:bg-primary-50 hover:text-primary-500 focus:bg-primary-50 focus:text-primary-500"
            ariaLabel="Add new calendar"
            title="Add new calendar"
            href=<%= new_school_course_calendar_path(@course)%>>
            <i class="if i-plus-regular if-fw" ></i>
          </a>
        </div>
        <div>
          <label>
            <input type="checkbox" checked/>
            Calendar 1
          </label>
        </div>
      </div>
      <div class="col-span-8 p-6 bg-white flex-1">
        <div class="flex items-center justify-between gap-2">
          <p class="text-base font-medium"> Events </p>
          <p class="text-gray-600"> <%= @presenter.selected_date %> </p>
        </div>
        <%= link_to new_school_course_calendar_event_path(@course), class: "bg-primary-50 text-primary-500 font-semibold flex items-center justify-center gap-1 rounded-md p-4 w-full mt-6 hover:bg-primary-100" do %>
          <i class="if i-plus-circle-regular if-fw" ></i>
          Add an event
        <% end %>
        <div class="flex flex-col gap-4 mt-6">
          <% @presenter.events_for_day.each do |event|%>
            <%= render partial: "event_card", locals: {event: event} %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
