<% content_for(:head) do %>
  <title><%= @course.name %> | <%= t(".title") %> </title>
<% end %>

<div id="schoolrouter-innerpage-data">
  <div class="max-w-5xl mx-auto px-4 mt-8">
    <div class="flex items-center justify-between gap-2">
      <h1 class="text-xl font-semibold"> Calendar </h1>
      <a href="#" class="text-primary-500 font-medium text-sm hover:underline">
        See all upcoming events
      </a>
    </div>
    <div  class="grid grid-cols-12 bg-white shadow rounded-md max-w-5xl mx-auto">
      <div class="col-span-4 bg-gray-50 p-6 border-r border-gray-200 max-w-xs">
        <div id="course-calendar-picker" class="h-64 w-64 bg-green-50" ></div>
        <div class="mt-4 flex items-center justify-between gap-2 p-1">
          <p class="text-base font-medium "> Calendars </p>
          <a
            class="p-2 rounded-md hover:bg-primary-50 hover:text-primary-500 focus:bg-primary-50 focus:text-primary-500"
            ariaLabel="Add new calendar"
            href="/school/courses/${courseId}/calendars/new">
            <i class="if i-plus-regular if-fw" ></i>
          </a>
        </div>
      </div>
      <div class="p-6 bg-white flex-1 col-span-8">
        <div class="flex items-center justify-between gap-2">
          <p class="text-base font-medium"> Events </p>
          <p class="text-gray-600"> 11-November-2022 </p>
        </div>
        <button
          class="bg-primary-50 text-primary-500 font-semibold flex items-center justify-center gap-1 rounded-md p-4 w-full mt-6 hover:bg-primary-100">
          <i class="if i-plus-circle-regular if-fw" ></i>
          Add an event
        </button>
        <div class="flex flex-col gap-4 mt-6">
          <%= render "event_card" %>
          <%= render "event_card" %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:tail) do %>
  <%= javascript_tag(nonce: true) do %>
     window.onload = function() {
       document.getElementById("schoolrouter-innerpage").innerHTML = document.getElementById("schoolrouter-innerpage-data").innerHTML;
       document.getElementById("schoolrouter-innerpage-data").remove();
    }
  <% end %>
<% end %>
