<% content_for(:head) do %>
  <title><%= @course.name %> | <%= t(".title") %></title>
<% end %>
<% presenter = Schools::Courses::ExportsPresenter.new(self, @course) %>
<div class="bg-gray-50 border-t border-gray-300 p-5 fixed bottom-0 end-0 flex flex-col items-center" style="width: calc(100% - 19.5rem)">
  <%= paginate presenter.course_exports %>
  <div class="text-center text-sm mt-2">
    <%= page_entries_info presenter.course_exports, entry_name: 'Export' %>
  </div>
</div>
<script id="schools-courses-exports__props" type="application/json">
  <%= presenter.props_to_json.html_safe %>
</script>
