<%= form_with(model: @course, url: school_course_path(@course)) do |f| %>
  <%= f.text_field :name, required: true, class: 'border' %>
  <%= f.submit 'Update', class: 'underline cursor-pointer' %>
<% end %>

Overview about the course '<%= @course.name %>' should be shown here.

<div class="my-4">
  <h4 class="mb-2">Danger Zone</h4>
  <% unless @course.ended? %>
    <%= button_to 'Close Course', close_school_course_path(@course),
      class: 'bg-red-light hover:bg-red text-white font-bold py-1 px-2 rounded',
      data: { confirm: "Are you sure you want to close the #{@course.name} course?",
      disable_with: 'Closing course...' }%>
  <% end %>
</div>
