<%
  school_name = @school.name
  login_url = enroll_applicants_url(@applicant.original_login_token)
  course_name = @applicant.course.name
  applicant_name = @applicant.name
%>

<% content_for :title do %>
  <%= t("mailers.applicant.enrollment_verification.title", course_name: course_name) %>
<% end %>

<% content_for :subtitle do %>
  <%= t("mailers.applicant.enrollment_verification.subtitle", school_name: school_name) %>
<% end %>

<% content_for :title_button_text do %>
  <%= t("mailers.applicant.enrollment_verification.title_button_text") %>
<% end %>

<% content_for(:title_button_link, login_url) %>

<% content_for :salutation do %>
  <%= t("shared.salutation", name: applicant_name) %>
<% end %>

<% content_for :body do %>
  <p>
  <%= t("mailers.applicant.enrollment_verification.body", school_name: school_name, course_name: course_name) %>
  </p>

  <%= render 'mailers/link_fallback', url: login_url%>
<% end %>

<% content_for(:signature) do %>
  <div>
    <%= school_name %>
  </div>
<% end %>
