<%
  school_name = @school.name
  login_url = enroll_applicants_url(@applicant.original_login_token)
  course_name = @applicant.course.name
  applicant_name = @applicant.name
%>

<% content_for :title do %>
  <%= t("views.mailers.enrollment_verification.welcome", course_name: course_name) %>
<% end %>

<% content_for :subtitle do %>
  <%= t("views.mailers.enrollment_verification.link_verify", school_name: school_name).html_safe %>
<% end %>

<% content_for :title_button_text do %>
  <%= t("views.mailers.enrollment_verification.activate_account") %>
<% end %>

<% content_for(:title_button_link, login_url) %>

<% content_for :salutation do %>
  <%= t("shared.salutation", name: applicant_name) %>
<% end %>

<% content_for :body do %>
  <p>
  <%= t("views.mailers.enrollment_verification.to_activate", school_name: school_name, course_name: course_name).html_safe %>
  </p>

  <%= render 'mailers/link_fallback', url: login_url%>
<% end %>

<% content_for(:signature) do %>
  <div>
    <%= school_name %>
  </div>
<% end %>
