<%
  school_name = @school.name
  login_url = enroll_applicants_url(@applicant.login_token)
  course_name = @applicant.course.name
%>

<% content_for :title do %>
  Welcome to <%= course_name %>
<% end %>

<% content_for :subtitle do %>
  Use this <strong>one-time link</strong> to verify your email address and sign into <%= school_name %>!
<% end %>

<% content_for :title_button_text do %>
  Activate your account and sign in
<% end %>

<% content_for(:title_button_link, login_url) %>

<% content_for :salutation do %>
  Hello,
<% end %>

<% content_for :body do %>
  <p>
    To activate your <%= school_name %> account, and enroll to the <%= course_name %> course, please verify your email
    address. Clicking on this <strong>one-time link</strong> will verify your email-address and confirm that you wish to
    create an account at <%= school_name %>.
  </p>

  <%= render 'mailers/link_fallback', url: login_url%>
<% end %>

<% content_for(:signature) do %>
  <div>
    <%= school_name %>
  </div>
<% end %>
