<%
  login_url = user_token_url(@url_options)
%>

<% content_for :salutation do %>
  Hello <%= @user.name %>,
<% end %>

<% content_for :body do %>
  <p>
    Please <%= link_to "click here", login_url %> to login to your <%= @school_name %> account.
  </p>

  <%= render 'mailers/link_fallback', url: login_url%>

  <p><%= t('shared.login_token_expiration_warning_html', timestamp: @user.login_token_expiration_time, login_url: sign_in_with_email_url) %></p>
<% end %>
