<% presenter = TimelineEvents::ShowPresenter.new(self, @submission) %>
<% content_for(:head) do %>
  <title><%= presenter.page_title %></title>
<% end %>
<div class="bg-gray-50 px-3 py-4">
  <div class="mb-2 container max-w-3xl mx-auto">
    <div class="bg-white shadow p-4 rounded">
      <div class="bg-white mb-2 p-3 flex flex-col">
        <h2 class="font-semibold text-lg"> <%= @submission.title %></h2>
        <p class="text-gray-600 text-xs" title="<%= @submission.created_at.iso8601 %>"> <%= t('.submitted_on', date: @submission.created_at.strftime('%b %d, %Y'))%></p>
        <% if @submission.evaluated_at.present? %>
          <% translation_key = @submission.passed_at.present? ? 'accepted_on' : 'rejected_on' %>
          <p class="text-gray-600 text-xs mt-1" title="<%= @submission.evaluated_at.iso8601 %>"> <%= t(".#{translation_key}", date: @submission.created_at.strftime('%b %d, %Y'))%></p>
        <% end %>
      </div>
      <% @submission.checklist.each_with_index do |item, index| %>
        <div class="mb-3 bg-gray-50 rounded">
          <div class="text-lg font-bold ps-3 pt-3"><%= t('.question_with_number', number: index + 1) %></div>
          <div class="convert-markdown p-3 pt-1 text-sm" data-json-props="<%= presenter.markdown_prop(item['title']) %>">
            <%= item['title'] %>
          </div>
          <hr class="mt-3"/>
          <% if presenter.render_markdown?(item) %>
            <div class="convert-markdown p-3 text-sm" data-json-props="<%= presenter.markdown_prop(item['result']) %>"><%= item['result'] %></div>
          <% elsif presenter.audio?(item) %>
            <%= render 'audio', file: presenter.audio_file(item) %>
          <% elsif presenter.files?(item) %>
            <%= render 'files', files: presenter.files(item) %>
          <% else %>
            <div class="p-3 text-sm"><%= item['result'] %></div>
          <% end %>
        </div>
      <% end %>
      <% @submission.startup_feedback.includes(:faculty).each do |feedback |%>
        <div class="bg-white border-t p-4 md:p-6">
          <div class="flex items-center">
            <div class="shrink-0 w-12 h-12 bg-gray-300 rounded-full overflow-hidden ltr:mr me-3 object-cover">
              <%= avatar(feedback.faculty.name, faculty: feedback.faculty, version: :thumb)%>
            </div>
            <div>
              <p class="text-xs leading-tight">Feedback from:</p>
              <div>
                <h4 class="font-semibold text-base leading-tight block md:inline-flex self-end"><%= feedback.faculty.name %></h4>
              </div>
            </div>
          </div>
          <div class="convert-markdown p-3 text-sm" data-json-props="<%= presenter.markdown_prop(feedback.feedback) %>"> <%= feedback.feedback%> </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
