<% link = admins_school_url %>

<% content_for :salutation do %>
  <%= t("shared.salutation_name", name: @school_admin.name) %>
<% end %>

<% content_for :body do %>
  <p>
    <%= t("mailers.school_admin.school_admin_added.body.new_admin_html", school_name: @school.name, new_school_admin: @new_school_admin.created_at.strftime('%B %-d, %Y at %l:%M %p'), adding_user_name: @adding_user.name) %>
  </p>

  <p>
    <%= t("mailers.school_admin.school_admin_added.body.admin_name_html", new_school_admin_name: @new_school_admin.name, new_school_admin_email: @new_school_admin.email) %>
  </p>

  <p>
    <%= t("mailers.school_admin.school_admin_added.body.not_recognized_html", link_to: link_to(t("mailers.school_admin.school_admin_added.body.link_to"), link)) %>
  </p>

  <%= render 'mailers/link_fallback', url: link %>
<% end %>
