<% link = admins_school_url %>

<% content_for :title do %>
  New School Admin
<% end %>

<% content_for :subtitle do %>
  We're letting you know that a new school admin has been added.
<% end %>

<% content_for :title_button_text do %>
  Manage school admins
<% end %>

<% content_for(:title_button_link, link) %>

<% content_for :salutation do %>
  Hello <%= @school_admin.name %>,
<% end %>

<% content_for :body do %>
  <p>
    A new administrator was added to your school <strong><%= @school.name %></strong>, on
    <%= @new_school_admin.created_at.strftime('%b %e, %l:%M %p') %>.
  </p>

  <p>
    The admin's name is <strong><%= @new_school_admin.name %></strong>, and has the registered email address
    <a href="mailto:<%= @new_school_admin.email %>"><%= @new_school_admin.email %></a>.
  </p>

  <p>
    If you do not recognize this user, you can can remove them from the school administration interface using the link
    above.
  </p>

  <%= render 'mailers/link_fallback', url: link %>
<% end %>
