<% link = admins_school_url %>

<% content_for :salutation do %>
  <%= t("shared.salutation_name", name: @school_admin.name) %>
<% end %>

<% content_for :body do %>
  <p>
    <%= t("views.mailers.school_admin_added.body_new_admin", school_name: @school.name, new_school_admin: @new_school_admin.created_at.strftime('%B %-d, %Y at %l:%M %p'), adding_user_name: @adding_user.name).html_safe %>
  </p>

  <p>
    <%= t("views.mailers.school_admin_added.body_admin_name", new_school_admin_name: @new_school_admin.name, new_school_admin_email: @new_school_admin.email).html_safe %>
  </p>

  <p>
    <%= t("views.mailers.school_admin_added.body_not_recognized", link_to: link_to(t("views.mailers.school_admin_added.link_to"), link)).html_safe %>
  </p>

  <%= render 'mailers/link_fallback', url: link %>
<% end %>
