<% link = school_course_students_url(@course) %>

<% content_for :salutation do %>
  <%= t("shared.salutation_name", name: @school_admin.name) %>
<% end %>

<% content_for :body do %>
  <p>
    <%= t("mailers.school_admin.students_bulk_import_complete.body.summary_import_html", course_name: @course.name) %>
  </p>

  <div>
    <p><%= t("mailers.school_admin.students_bulk_import_complete.body.students_requested_html", report_params: @report_params[:students_requested]) %></p>
    <p><%= t("mailers.school_admin.students_bulk_import_complete.body.students_added_html", report_params: @report_params[:students_added]) %></p>
  </div>

  <p>
    <%= t("mailers.school_admin.students_bulk_import_complete.body.view_html", link_to: link_to(t("mailers.school_admin.students_bulk_import_complete.body.link_to"), link)) %>
  </p>

  <% if @report_attachment %>
    <p>
      <%= t("mailers.school_admin.students_bulk_import_complete.body.report_attachments") %>
    </p>
  <% end %>

  <%= render 'mailers/link_fallback', url: link %>
<% end %>
