<% link = school_course_students_url(@course) %>

<% content_for :salutation do %>
  <%= t("shared.salutation_name", name: @school_admin.name) %>
<% end %>

<% content_for :body do %>
  <p>
    <%= t("views.mailers.students_bulk_import_complete.body_summary_import", course_name: @course.name).html_safe %>
  </p>

  <div>
    <p><%= t("views.mailers.students_bulk_import_complete.body_students_requested", report_params: @report_params[:students_requested]).html_safe %></p>
    <p><%= t("views.mailers.students_bulk_import_complete.body_students_added", report_params: @report_params[:students_added]).html_safe %></p>
  </div>

  <p>
    <%= t("views.mailers.students_bulk_import_complete.body_view", link_to: link_to(t("views.mailers.students_bulk_import_complete.link_to"), link)).html_safe %>
  </p>

  <% if @report_attachment %>
    <p>
      <%= t("views.mailers.students_bulk_import_complete.report_attachments") %>
    </p>
  <% end %>

  <%= render 'mailers/link_fallback', url: link %>
<% end %>
