<% link = school_course_students_url(@course) %>

<% content_for :salutation do %>
  Hello <%= @school_admin.name %>,
<% end %>

<% content_for :body do %>
  <p>
    Your request to import students in
    <strong><%= @course.name %></strong> course, was successfully completed.
    Here's a small summary on the import:
  </p>

  <div>
    <p><b>Students requested:</b> <%= @report_params[:students_requested] %></p>
    <p><b>Students added:</b> <%= @report_params[:students_added] %></p>
  </div>

  <p>
    You can <%= link_to 'view these newly added students in the school administration interface', link%>.
  </p>

  <% if @report_attachment %>
    <p>
      Some of the students you tried to import were already enrolled in the course.
      These students were ignored during the import. A list of email addresses of
      such students has been included as an attachment with this email.
    </p>
  <% end %>

  <%= render 'mailers/link_fallback', url: link %>
<% end %>
