<%
  sign_in_link = user_token_url(token: @user.original_login_token)
%>

<% content_for(:title_button_link, sign_in_link) %>

<% content_for :salutation do %>
  Hello <%= @coach.name %>,
<% end %>

<% content_for :body do %>
  <p>
    You have been added as a coach in the course <strong><%= @course.name %></strong>, on <%= @school.name %>. This
    gives you the ability to review submissions from students, assign grades, and give them feedback on their work.
  </p>

  <p>
    Use this <%= link_to 'link', sign_in_link%> to sign into <%= @school.name %> and view your students' submissions.
  </p>

  <%= render 'mailers/link_fallback', url: sign_in_link %>
<% end %>
