<% content_for(:head) do %>
  <title><%= current_school.name %> | <%= t('.title')%></title>
  <%= stylesheet_pack_tag 'schools/show', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% @presenter = Schools::ShowPresenter.new(self) %>
<div class="flex-1 flex flex-col bg-gray-200 overflow-y-auto">
  <div class="w-full">
    <div
      class="max-w-full mx-auto relative overflow-hidden"
    >
      <div
        class="bg-gradient-to-r from-secondary-500 to-secondary-600 bg-cover h-40 p-5"
      ></div>
      <div class="w-full bg-white p-6">
        <div class="flex items-center max-w-4xl 2xl:max-w-5xl mx-auto justify-between">
          <div class="flex gap-6">
            <div
              class="school-overview__logo-container flex items-center bg-white p-3 border-2 border-white ring-1 ring-gray-100 rounded-full -mt-16 overflow-hidden"
            >
              <%= image_tag(@presenter.school_logo_path, alt: current_school.name) %>
            </div>
            <div class="school-overview__school-name">
              <p class="text-sm text-gray-500"><%= t("shared.school") %></p>
              <h2  class="text-xl font-bold"><%= @presenter.school_details[:name] %></h2>
            </div>
          </div>
          <div class="flex gap-6">
            <div class="border-r pr-6">
              <div data-t="school students">
                <p class="text-sm text-gray-500"><%= t('.students') %></p>
                <p class="text-xl font-bold"><%= @presenter.school_details[:students_count] %></p>
              </div>
            </div>
            <div class="">
              <div data-t="school coaches">
                <p class="text-sm text-gray-500"><%= t('.coaches') %></p>
                <p class="text-xl font-bold"><%= @presenter.school_details[:coaches_count] %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full px-6">
    <div class="max-w-3xl 2xl:max-w-5xl w-full mx-auto my-8">
      <h2 class="font-semibold mb-4 pb-2 border-b"><%= t(".courses") %></h2>
      <div
        class="flex flex-wrap items-stretch w-full school-overview__course-list"
      >
        <% @presenter.course_details.each_with_index do |course, index| %>
          <div data-t="<%= course[:name] %> details" class="w-1/2 mb-4">
            <a
              class="block border rounded-lg bg-white shadow h-full cursor-pointer hover:border-primary-500 text-black focus:outline-none focus:border-primary-500"
              href="<%= school_course_students_path(course[:id]) %>"
            >
              <div class="flex items-end justify-between border-b p-4 pt-6">
                <h3 class="font-bold text-xl"><%= course[:name] %></h3>
                <p class="text-sm">
                  <%= course[:levels_count] %>
                  <%= t('.levels') %>
                </p>
              </div>
              <div
                class="school-overview__course-list-card-count relative flex items-end bg-gray-200 justify-between border-b"
              >
                <div data-t="<%= course[:name] %> students" class="w-1/2">
                  <div class="p-4">
                    <p><%= t('.students') %></p>
                    <p><%= course[:students_count] %></p>
                  </div>
                </div>
                <div data-t="<%= course[:name] %> coaches" class="w-1/2">
                  <div class="p-4">
                    <p><%= t('.coaches') %></p>
                    <p><%= course[:coaches_count] %></p>
                  </div>
                </div>
              </div>
              <div class="flex items-end p-4 text-xs items-center">
                <% if course[:submissions_count] == 0 %>
                  <i
                    class="fas fa-inbox mr-2 text-2xl text-gray-600 bg-gray-200 p-1 rounded"
                  ></i>
                  <div class="text-gray-600"> <%= t(".no_submissions") %></div>
                <% elsif course[:submissions_count] == course[:evaluated_submissions_count] %>
                  <i
                    class="fas fa-check mr-2 text-2xl text-green-600 bg-green-200 p-1 rounded"
                  ></i>
                  <div class="text-green-600">
                    <%= course[:evaluated_submissions_count] %>/<%= course[:submissions_count] %>
                    <%= t(".submissions_reviewed") %>.
                  </div>
                <% else %>
                  <i
                    class="fas fa-check mr-2 text-xl text-orange-600 bg-orange-200 p-1 rounded"
                  ></i>
                  <div class="text-orange-600">
                    <%= course[:evaluated_submissions_count] %>/<%= course[:submissions_count] %>
                    <%= t(".submissions_reviewed") %>.
                  </div>
                <% end %>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
