<% content_for(:head) do %>
  <title><%= current_school.name %> | Overview</title>
  <%= stylesheet_pack_tag 'schools/show', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% @presenter = Schools::ShowPresenter.new(self) %>
<div class="flex-1 flex flex-col bg-gray-200 overflow-y-auto">
  <div class="w-full p-6">
    <div class="max-w-3xl mx-auto relative rounded border overflow-hidden rounded-lg shadow-lg mx-3">
      <div class="bg-gradient-secondary-to-secondary-600-120 bg-cover h-24 p-5">

      </div>
      <div class="flex px-5 pb-5 bg-white justify-between">
        <div class="flex">
          <div class="school-overview__logo-container flex items-center bg-white p-3 border rounded-lg -mt-16 overflow-hidden">
            <%= image_tag(@presenter.school_logo_path, alt: current_school.name) %>
          </div>
          <div class="school-overview__school-name pl-3 p-3">
            <span class="uppercase text-sm">School</span>
            <h2 class=""><%= @presenter.school_details[:name] %></h2>
          </div>
        </div>
        <div class="flex rounded-lg border mt-2">
          <div class="w-1/2 border-r">
            <div data-t="school students" class="p-3">
              <p>Students</p>
              <p><%= @presenter.school_details[:students_count] %></p>
            </div>
          </div>
          <div class="w-1/2">
            <div data-t="school coaches" class="p-3">
              <p>Coaches</p>
              <p><%= @presenter.school_details[:coaches_count] %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full px-6">
    <div class="max-w-3xl w-full mx-auto my-8">
      <h2 class="font-semibold mb-4 pb-2 border-b">Courses</h2>
      <div class="flex flex-wrap items-stretch w-full school-overview__course-list">
        <% @presenter.course_details.each_with_index do |course, index| %>
          <div data-t="<%= course[:name] %> details" class="w-1/2 mb-4">
            <a class="block border rounded-lg bg-white shadow h-full cursor-pointer hover:border-primary-500 text-black" href=<%= school_course_students_path(course[:id]) %>>
              <div class="flex items-end justify-between border-b p-4 pt-6">
                <h3 class="font-bold text-xl"><%= course[:name] %></h3>
                <p class="text-sm"><%= course[:levels_count] %> <%= I18n.t("shared.level").pluralize(course[:levels_count]) %></p>
              </div>
              <div class="school-overview__course-list-card-count relative flex items-end bg-gray-200 justify-between border-b">
                <div data-t="<%= course[:name] %> students" class="w-1/2">
                  <div class="p-4">
                    <p>Students</p>
                    <p><%= course[:students_count] %></p>
                  </div>
                </div>
                <div data-t="<%= course[:name] %> coaches" class="w-1/2">
                  <div class="p-4">
                    <p>Coaches</p>
                    <p><%= course[:coaches_count] %></p>
                  </div>
                </div>
              </div>
              <div class="flex items-end p-4 text-xs items-center">
                <% if course[:submissions_count] == 0 %>
                  <i class="fas fa-inbox mr-2 text-2xl text-gray-600 bg-gray-200 p-1 rounded"></i>
                  <div class="text-gray-600">No student submissions yet!</div>
                <% elsif course[:submissions_count] == course[:evaluated_submissions_count] %>
                  <i class="fas fa-check mr-2 text-2xl text-green-600 bg-green-200 p-1 rounded"></i>
                  <div class="text-green-600">
                    <%= course[:evaluated_submissions_count] %>/<%= course[:submissions_count] %> submissions reviewed.
                  </div>
                <% else %>
                  <i class="fas fa-check mr-2 text-xl text-orange-600 bg-orange-200 p-1 rounded"></i>
                  <div class="text-orange-600">
                    <%= course[:evaluated_submissions_count] %>/<%= course[:submissions_count] %> submissions reviewed.
                  </div>
                <% end %>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
