<% content_for(:head) do %>
    <%= javascript_pack_tag 'schools/show/show', 'data-turbolinks-track': 'reload', nonce: true %>
    <%= stylesheet_pack_tag 'schools/show/show', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% @presenter = Schools::ShowPresenter.new(self) %>
<div class="flex-1 flex flex-col bg-grey-lighter">
    <div class="w-full bg-white border border-b-1 border-t-0 border-l-0 border-r-0 p-12">
        <div class="max-w-md mx-auto relative rounded border overflow-hidden rounded-lg shadow-lg mx-3">
            <div class="school-overview__profile-cover bg-cover h-24 p-5">

            </div>
            <div class="flex px-5 pb-5">
                <div class="school-overview__logo-container bg-white p-2 border rounded-lg -mt-16">

                </div>
                <div class="school-overview__school-name pl-3 p-3">
                    <span class="uppercase text-sm">School</span>
                    <h2 class=""><%= current_school.name %></h2>
                </div>
                <p><%= @presenter.student_count %></p>
            </div>
        </div>
    </div>
    <div class="max-w-md w-full mx-auto overflow-hidden my-8">
        <h2 class="font-semibold mb-4 pb-2 border-b">Courses</h2>
        <div class="flex flex-wrap items-stretch w-full school-overview__course-list">
            <div class="w-1/2 mb-4">
                <div class="border rounded-lg bg-white shadow h-full">
                    <div class="flex items-end justify-between border-b p-4 pt-6">
                        <h3 class="font-bold text-xl">Startup</h3>
                        <p class="text-sm">10 Levels</p>
                    </div>
                    <div class="school-overview__course-list-card-count relative flex items-end bg-grey-lighter justify-between border-b">
                        <div class="w-1/2">
                            <div class="p-4">
                                <p>Students</p>
                                <p><%= @presenter.student_count %></p>
                            </div>
                        </div>
                        <div class="w-1/2">
                            <div class="p-4">
                                <p>Students</p>
                                <p><%= @presenter.student_count %></p>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-end justify-between p-4">
                    </div>
                </div>
            </div>
            <div class="w-1/2 mb-4">
                <div class="border rounded-lg bg-white shadow p-4 h-full">
                    <h3 class="font-bold text-xl mb-2">Startup</h3>
                </div>
            </div>
            <div class="w-1/2 mb-4">
                <div class="border rounded-lg bg-white shadow p-4 h-full">
                    <h3 class="font-bold text-xl mb-2">Startup</h3>
                </div>
            </div>
            <div class="w-1/2 mb-4">
                <div class="border rounded-lg bg-white shadow p-4 h-full">
                    <h3 class="font-bold text-xl mb-2">Startup</h3>
                </div>
            </div>
        </div>
    </div>
</div>
