<% content_for(:head) do %>
  <title><%= current_school.name %> | <%= t(".title") %> </title>
<% end %>
<div class="relative" id="schoolrouter-innerpage-data">
  <div class="max-w-6xl mx-auto px-5 pb-6 mt-8">
    <div class="bg-gradient-to-l to-primary-100 from-primary-200 shadow rounded-t-lg grid grid-cols-4 gap-4 items-center">
      <div class="col-span-3 p-8">
        <h1 class="text-4xl font-semibold text-gray-800 mb-4"><%= t(".standings") %> </h1>
        <p class="text-gray-600 mb-4"><%= t(".standing_explanation") %> </p>
        <a href="#" class="text-primary-400 hover:text-primary-600 hover:underline"><%= t(".learn_more") %> </a>
      </div>
      <div class="">
        <%= image_tag 'school/standings/star_on_shield.svg', alt: 'Star on Shield', class: 'h-40 w-auto' %>
      </div>
    </div>
    <div class="bg-white p-4 rounded-b-lg shadow flex items-center justify-between">
      <span class="text-base font-semibold"><%= t(".enable_standing") %> </span>
      <div class="flex items-center bg-white p-2 hover:cursor-pointer">
        <% if @presenter.standing_enabled? %>
          <span class="italic text-green-400 mr-5" ><%= t(".enabled") %> </span>
        <% end %>
        <%= button_to t("shared._yes"), standing_school_path(enable_standing: true), method: :patch, class: "text-gray py-1 px-3 cursor-pointer border hover:border-primary-400 rounded-l-md  #{'border border-primary-500 bg-primary-100' if @presenter.standing_enabled? }"%>
        <%= button_to t("shared._no"), standing_school_path(enable_standing: false), method: :patch, class: "text-gray py-1 px-3 focus:outline-none cursor-pointer border hover:border-primary-400 rounded-r-md #{'border border-primary-500 bg-primary-100' unless @presenter.standing_enabled? }"%>
      </div>
    </div>
    <% if @presenter.standing_enabled? %>
      <div class="bg-white shadow rounded-lg p-4 mt-8 flex justify-between">
        <div class="flex-col gap-2">
          <div class="flex items-center justify-start gap-3">
            <span class="text-base font-semibold"><%= t(".update_coc_heading") %> </span>
            <span class="bg-orange-100 text-orange-400 text-sm px-2 py-1 rounded-2xl border border-orange-300 font-medium"><%= t(".required") %> </span>
          </div>
          <p class="text-gray-600 max-w-3xl">
            <%= t(".update_coc_info") %>
            <%= link_to t(".learn_more_about_crafting_coc"), "#", class: "text-primary-400 hover:text-primary-600 hover:underline" %>
          </p>
        </div>
        <div class="flex justify-center items-center gap-2">
          <% if @presenter.school_has_code_of_conduct? %>
            <div class="">
              <%= link_to t(".view_coc"), agreement_path(agreement_type: "code-of-conduct"), class: "text-primary-500 py-2 px-4 rounded border hover:border-primary-400 focus:outline-none cursor-pointer" %>
            </div>
            <div class="">
              <%= link_to t(".edit_coc"), code_of_conduct_school_path,class: "bg-primary-50 text-primary-500 py-2 px-4 rounded border hover:border-primary-400 focus:outline-none cursor-pointer" %>
            </div>
          <% else %>
            <div class="">
              <%= link_to t(".add_coc"), code_of_conduct_school_path, class: "bg-primary-50 text-primary-500 py-2 px-6 rounded border hover:border-primary-400 focus:outline-none cursor-pointer" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="p-4 bg-white mt-8 flex justify-between">
        <div class="flex flex-col">
          <h1 class="text-base font-semibold"><%= t(".edit_standings_heading") %></h1>
          <p class="text-gray-600 max-w-3xl"><%= t(".edit_standings_info") %>
          </p>
        </div>
      </div>
      <div>
        <% @presenter.standings.each do |standing|%>
          <div class="flex items-center gap-3 mb-3">
            <%= render 'shared/bordered_standing_shield', color: standing.color, size_classes: "w-12 h-12" %>
            <div class="bg-gray-50 flex-grow p-3 max-w-md justify-between flex">
              <div class="">
                <%= standing.name %>
              </div>
              <div class="flex">
                <%= link_to edit_school_standing_path(standing) do %>
                  <i class="if i-edit-regular if-fw justify-self-end cursor-pointer text-lg font-semibold hover:text-primary-400" ></i>
                <% end %>
                <% unless standing.default %>
                  <%= button_to school_standing_path(standing), method: :patch, data: {confirm: t(".confirm_standing_deletion") } do%>
                    <i class="if i-trash-regular if-fw cursor-pointer text-lg font-semibold hover:text-red-400"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
            <% if standing.default %>
              <span class="text-sm text-gray-600 italic"><%= t(".default") %></span>
            <% end %>
          </div>
        <% end %>
        <div class="flex justify-center max-w-xl">
          <div class="flex-grow max-w-md ml-4">
            <%= button_to t(".add_another_standing"), new_school_standing_path, method: :get, class: "bg-primary-50 text-primary-500 py-2 px-4 rounded border hover:border-primary-400 focus:outline-none cursor-pointer w-full" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
