<%
  course = @issued_certificate.certificate.course
  user = @issued_certificate.user
  link = issued_certificate_url(serial_number: @issued_certificate.serial_number)
%>

<% content_for(:title_button_link, link) %>

<% content_for :salutation do %>
  <%= t("shared.salutation_name", name: user.name) %>
<% end %>

<% content_for :body do %>
  <p>
    <b><%= t("views.mailers.issued.congratulations") %></b>
  </p>

  <p>
    <%= t("views.mailers.issued.awarded_certificate", course_name: course.name).html_safe %>
  </p>

  <p>
    <%= t("views.mailers.issued.issued_on", issued_certificate: @issued_certificate.created_at.strftime('%b %e, %l:%M %p'), link_to: link_to(t("views.mailers.issued.link_to"), link)).html_safe %>
  </p>

  <%= render 'mailers/link_fallback', url: link %>
<% end %>
