<%
  course = @issued_certificate.certificate.course
  user = @issued_certificate.user
  link = issued_certificate_url(serial_number: @issued_certificate.serial_number)
%>

<% content_for(:title_button_link, link) %>

<% content_for :salutation do %>
  Hello <%= user.name %>,
<% end %>

<% content_for :body do %>
  <p>
  <b>Congratulations!</b>
  </p>
  <p>
    You've been awarded a certificate for completing the <strong><%= course.name %></strong> course.
  </p>

  <p>
    The certificate was issued on <%= @issued_certificate.created_at.strftime('%b %e, %l:%M %p') %> and can be viewed
    or printed by visiting the certificate's <%= link_to 'link', link%>.
  </p>

  <%= render 'mailers/link_fallback', url: link %>
<% end %>
