<% presenter = Courses::LeaderboardPresenter.new(self, @course) %>

<% content_for(:head) do %>
  <title>Leaderboard | <%= presenter.school_name %></title>
  <%= stylesheet_pack_tag 'courses/leaderboard', 'data-turbolinks-track': 'reload' %>
<% end %>

<div>
  <div class="w-100 leaderboard__header-container mt-4 px-4 pb-4 text-center">
    <div class="col-md-7 mx-auto">
      <div class="leaderboard__header-title d-inline-block mx-auto p-3 shadow-lg">
        <h4 class="font-bold">
          Leaderboard
        </h4>
        <div class="d-flex align-items-center justify-content-between mt-3">
          <% if presenter.previous_page? %>
            <a class="btn btn-default" href="<%= presenter.previous_page_link %>">
              <i class="fa fa-chevron-left"></i>
            </a>
          <% end %>
          <span class="leaderboard__date-range px-3 font-semibold">
            <%= presenter.start_datestring %> to <%= presenter.end_datestring %>
          </span>
          <% if presenter.next_page? %>
            <a class="btn btn-default" href="<%= presenter.next_page_link %>">
              <i class="fa fa-chevron-right"></i>
            </a>
          <% end %>
        </div>
      </div>
      <div class="col">
        <% if presenter.entries.any? %>
          <div class="d-flex justify-content-center mt-5">
            <div class="lealeaderboard__winner-avatar rounded-circle bg-white mx-3 shadow">
            </div>
            <div class="lealeaderboard__winner-avatar rounded-circle bg-white mx-3 shadow">
            </div>
          </div>
          <h3 class="mt-3 text-white lealeaderboard__winner-title pb-2"><%= presenter.heading %></h3>
          <div class="d-flex justify-content-center">
            <div class="px-3 border-right">
              <h5 class="mt-3 text-white">Active Students</h5>
              <span class="text-white"><%= presenter.entries.count %></span>
            </div>
            <div class="px-3">
              <h5 class="mt-3 text-white">Inactive Students</h5>
              <span class="text-white"><%= presenter.inactive_students_count %></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <p class="leaderboard__notice mb-2 text-center p-2">
      Leaderboards are how we track progress for our students. They <strong>don't show</strong> the best students
      at <%= presenter.school_name %>.
      <br/>
      Rather, they show students <strong>who have improved the most</strong> compared to the previous leaderboard.
    </p>

  <% if presenter.entries.empty? %>
    <div class="leaderboard__inactive-startup-message text-center bg-white border rounded-lg p-5 my-4">
      <h4 class="font-semibold">
        The leaderboard doesn&rsquo;t have any entries for this period.
      </h4>
    </div>
  <% else %>
    <div class="w-100 bg-white my-4 border leaderboard__table-container shadow">
      <table class="table table-responsive-sm">
        <thead class="brand-secondary light-grey-background">
        <tr>
          <th class="font-semibold">Rank</th>
          <th class="font-semibold">Change</th>
          <th class="font-semibold">Student</th>
          <th class="font-semibold">Level</th>
          <th class="font-semibold">Score</th>
        </tr>
        </thead>

        <tbody>
        <% presenter.entries.each do |entry| %>
          <tr>
            <td class="leaderboard__rank">
              <span class="leaderboard__rank-number"><%= entry[:rank] %></span>
            </td>
            <td class="leaderboard__rank">
              <span class="leaderboard__rank-change">
                <i class="fa fa-<%= entry[:delta_icon] %>"></i>
                <span class="leaderboard__rank-change-new">New</span>
                <span class="leaderboard__rank-change-up"></span>
                <span class="leaderboard__rank-change-down"></span>
                <span class="leaderboard__rank-delta"><%= entry[:delta] %></span>
              </span>
            </td>
            <td><%= entry[:founder].name %></td>
            <td><%= presenter.level_number(entry[:founder])%></td>
            <td><%= entry[:score] %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
