<% presenter = Courses::LeaderboardPresenter.new(self, @course) %>

<% content_for(:head) do %>
  <title>Leaderboard | <%= presenter.school_name %></title>
  <%= stylesheet_pack_tag 'courses/leaderboard', 'data-turbolinks-track': 'reload' %>
<% end %>
<% content_for(:inner_wrapper) do %>
  <div class="bg-gray-100 pt-11 pb-8 -mt-7">
    <div class="max-w-3xl mx-auto">
      <div class="text-center mt-2">
        <p class="inline-block bg-orange-100 text-orange-900 border border-orange-500 text-xs mx-auto text-center px-4 py-2 rounded-lg">
          This leaderboard shows students <strong>who have improved the most</strong> compared to the previous leaderboard.
        </p>
      </div>
      <div class="w-full md:px-4 pb-4 text-center mt-4">
        <div class="leaderboard__header-container py-4">
          <div class="w-5/6 mx-auto">
            <div>
              <% if presenter.students.any? %>
                <div class="flex justify-center">
                  <% if presenter.toppers.count > 3 %>
                    <% presenter.toppers[0..1].each do |student| %>
                      <%= render 'topper_avatar', student: student %>
                    <% end %>
                  <% else %>
                    <% presenter.toppers.each do |student| %>
                      <%= render 'topper_avatar', student: student %>
                    <% end %>
                  <% end %>

                  <% if presenter.toppers.count > 3 %>
                    <div class="leaderboard__winner-avatar">
                      +<%= presenter.toppers.count - 2 %>
                    </div>
                  <% end %>
                </div>

                <h4 class="leaderboard__winner-title pb-3 mt-3 font-normal leading-snug"><%= presenter.heading %></h4>

                <div class="leaderboard__students-count-container bg-white inline-flex overflow-hidden border rounded-lg justify-center">
                  <div class="px-3 py-2">
                    <p class="text-xs">Active Students</p>
                    <span class="text-xl font-semibold"><%= presenter.students.count %></span>
                  </div>
                  <div class="px-3 py-2">
                    <p class="text-xs">Inactive Students</p>
                    <span class="text-xl font-semibold"><%= presenter.inactive_students_count %></span>
                  </div>
                </div>
                <div>
                  <div class="leaderboard__header-title inline-block mx-auto p-3 shadow-lg">
                    <div class="flex items-center justify-between mt-3">
                      <% if presenter.previous_page? %>
                        <a class="leaderboard__date-range-arrow flex items-center justify-center rounded-full" href="<%= presenter.previous_page_link %>">
                          <i class="far fa-angle-left"></i>
                        </a>
                      <% end %>
                      <span class="leaderboard__date-range px-3 font-semibold">
                      <%= presenter.start_date %> to <%= presenter.end_date %>
                    </span>
                      <% if presenter.next_page? %>
                        <a class="leaderboard__date-range-arrow flex items-center justify-center rounded-full" href="<%= presenter.next_page_link %>">
                          <i class="far fa-angle-right"></i>
                        </a>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% if presenter.students.empty? %>
        <div class="leaderboard__inactive-startup-message text-center bg-white border rounded-lg p-5 my-4">
          <h4 class="font-semibold">
            The leaderboard doesn&rsquo;t have any entries for this period.
          </h4>
        </div>
      <% else %>
        <div class="w-full bg-white my-4 border leaderboard__table-container shadow-lg overflow-x-auto">
          <table class="w-full mb-2 border-collapse">
            <thead class="bg-gray-200">
            <tr>
              <th class="py-4 px-6 bg-grey-100 font-bold uppercase text-sm border-b">Rank</th>
              <th class="py-4 px-6 bg-grey-100 font-bold uppercase text-sm border-b">Change</th>
              <th class="py-4 px-6 bg-grey-100 font-bold uppercase text-sm border-b">Student</th>
              <th class="py-4 px-6 bg-grey-100 font-bold uppercase text-sm border-b">Level</th>
              <th class="py-4 px-6 bg-grey-100 font-bold uppercase text-sm border-b">Score</th>
            </tr>
            </thead>

            <tbody>
            <% presenter.students.each do |student| %>
              <tr class="<%= student.current_student? ? 'leaderboard__current-student-row rounded' : '' %>">
                <td class="py-4 px-6 border-b">
                  <span class="leaderboard__rank-number font-semibold px-3"><%= student.rank %></span>
                </td>

                <td class="py-4 px-6 border-b">
                  <% if student.delta.blank? %>
                    <span class="leaderboard__rank-change-new">New</span>
                  <% else %>
                    <span class="leaderboard__rank-change-icon inline-block mr-1">
                      <%= presenter.rank_change_icon(student.delta) %>
                    </span>
                  <% end %>

                  <span class="leaderboard__rank-delta font-semibold"><%= presenter.format_delta(student.delta) %></span>
                </td>

                <td class="py-4 px-6 border-b">
                  <span><%= student.name %></span>
                  <span> My affiliation</span>
                </td>
                <td class="py-4 px-6 border-b"><%= student.level_number %></td>
                <td class="py-4 px-6 border-b"><%= student.score %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
