<% presenter = Courses::ShowPresenter.new(self, @course) %>
<% content_for(:head) do %>
  <title><%= presenter.page_title %></title>
  <%= stylesheet_pack_tag 'courses/shared', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'courses/show', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'shared/markdownBlockCSS', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="bg-gray-100 py-8">
  <div class="container mx-auto px-3 max-w-6xl">
    <div
      class="course-show__hero svg-bg-pattern-4 shadow-xl overflow-hidden border relative text-white">
      <div class="max-w-4xl mx-auto text-center px-4 pt-5 pb-6 md:px-14 md:py-9 lg:px-28 lg:pt-18 lg:pb-11">
        <h1 class="font-bold leading-tight"> <%= @course.name %></h1>
        <p class="font-semibold mt-2"><%= @course.description %> </p>
        <a href=<%= apply_course_path(@course) %> class="btn btn-large font-bold bg-yellow-400 text-yellow-900 shadow mt-4">Apply Now</a>
      </div>
      <div class="course-show__hero-bg-pattern w-full"></div>
    </div>
    <% if presenter.show_about? %>
      <div class="max-w-3xl mt-6 md:mt-10 mx-auto">
        <div class="shadow-xl rounded-lg overflow-hidden bg-white border">
          <div class="bg-white p-4 md:p-8 markdown-block markdown-block__permissive">
            <%= sanitize(presenter.about) %>
          </div>
          <div class="course-show__footer-cta svg-bg-pattern-4 p-4 py-12 text-center">
            <div class="text-2xl text-white font-bold">
              Apply to <%= @course.name %>
            </div>
            <a href=<%= apply_course_path(@course) %> class="btn btn-large font-bold bg-yellow-400 text-yellow-900 shadow mt-4">Apply Now</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
