<% presenter = Courses::ShowPresenter.new(self, @course) %>
<% content_for(:head) do %>
  <title><%= presenter.page_title %></title>
  <%= stylesheet_pack_tag 'courses/shared', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'courses/show', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'shared/markdownBlockCSS', 'data-turbolinks-track': 'reload' %>
<% end %>
<div class="pb-8 bg-gray-100 ">
  <div class="relative bg-primary-900">
    <div class="relative pb-1/2 md:pb-1/4 2xl:pb-1/5">
      <% if presenter.cover_image.present? %>
        <img class="absolute h-full w-full object-cover" src=<%= presenter.cover_image %>/>
      <% else %>
        <div class="course-show__cover-default absolute h-full w-full svg-bg-pattern-1"></div>
      <% end %>
    </div>
  </div>
  <div class="px-3">
    <div class="course-show__header-cta-container bg-white border-transparent lg:max-w-3xl mx-auto shadow rounded-lg -mt-5 md:-mt-7 z-10 relative pt-4 pb-5 md:py-8">
      <div class="flex md:flex-row flex-col">
        <div class="w-full md:w-2/3 pl-4 md:pl-8 ">
          <h1 class="font-bold leading-snug">
            <%= @course.name %>
          </h1>
          <div class="mt-2">
            <%= @course.description %>
          </div>
        </div>
        <% if @course.public_signup %>
          <div class="w-full md:w-1/3 flex justify-center items-center mt-4 md:mt-0 px-4 md:px-8">
            <a href="<%= apply_course_path(@course) %>" class="btn btn-success btn-large w-full">
              Apply Now
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <% if presenter.show_about? %>
      <div class="max-w-3xl mx-auto relative z-10 pb-8">
        <div class="px-4 md:px-8 markdown-block markdown-block__permissive">
          <%= sanitize(presenter.about) %>
        </div>
        <% if @course.public_signup %>
          <div class="course-show__footer-cta-container bg-white py-12 px-4 text-center mt-8 border-transparent shadow rounded-lg md:mx-8 mx-4">
            <h2 class="text-3xl leading-tight">
              <span class="font-normal">
                Enroll to
              </span>
              <span class="block font-bold">
                <%= @course.name %>
              </span>
            </h2>
            <a href="<%= apply_course_path(@course) %>" class="btn btn-large btn-success w-full sm:w-auto course-show__footer-cta-button shadow mt-3">Apply
              Now</a>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
