<%  presenter = FacultyModule::IndexPresenter.new(@coaches, self) %>
<% content_for(:head) do %>
  <title><%= t('.title')%> | <%= current_school.name %></title>
  <meta property="og:title" content="<%= t('.coaches_at') %> <%= current_school.name %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="<%= coaches_index_url %>"/>
<% end %>
<script id="react-root-data" type="application/json">
  <%== presenter.props_to_json %>
</script>
<div id="react-root"></div>
