<%
  team_members = @student.team.founders.where.not(id: @student.id).map(&:name).to_sentence
  sign_in_link = user_token_url(token: @user.original_login_token)
%>

<% content_for :salutation do %>
  Hello <%= @student.name %>,
<% end %>

<% content_for :body do %>
  <p>
    You have been enrolled as a student in the course <strong><%= @course.name %></strong>, on <%= @school.name %>.
  </p>

  <p>
    You can now <%= link_to("sign into #{@school.name} and start working on this course", sign_in_link) %>.
  </p>

  <% if team_members.present? %>
    <p>
      You have also been teamed up with <%= team_members %>; this means that you will be expected to work together to
      progress in this course.
    </p>
  <% end %>

  <%= render 'mailers/link_fallback', url: sign_in_link %>

  <p><%= t('shared.login_token_expiration_warning_html', timestamp: @user.login_token_expiration_time, login_url: sign_in_with_email_url) %></p>
<% end %>
