<% presenter = Communities::ShowPresenter.new(self, @community, @target) %>

<% content_for(:head) do %>
  <title><%= presenter.page_title %></title>
  <%= stylesheet_pack_tag 'communities/show', media: 'all' %>
  <%= stylesheet_pack_tag 'CommunitiesShowPack', media: 'all' %>
<% end %>

<% content_for(:tail) do %>
  <%= javascript_pack_tag 'CommunitiesShowPack', nonce: true %>
<% end %>

<div class="bg-gray-100">
  <div class="community-hero__container flex bg-white border-b border-primary-200 py-8">
    <div class="max-w-3xl w-full flex flex-col items-center justify-center mx-auto px-3 md:px-0">
      <h1 class="text-center font-normal text-2xl md:text-3xl leading-tight">
        Welcome to the
        <span class="block font-bold text-3xl md:text-4xl"><%= @community.name %> Community</span>
      </h1>
      <div class="max-w-lg flex w-full mt-3 justify-center">
        <a class="no-underline btn btn-primary relative" href=<%= new_topic_community_path(@community) %>>
          <i class="fas fa-plus-circle text-lg"></i>
          <span class="font-semibold ml-2">
            New Topic
          </span>
        </a>
      </div>
    </div>
  </div>
  <script type="application/json" id="react-root-data"><%= presenter.props_to_json.html_safe %></script>
  <div id="react-root">
  </div>
</div>
