<% presenter = Communities::ShowPresenter.new(self, @community) %>
<div class="flex bg-grey-lighter">
  <div class="flex-1 flex flex-col">
    <div class="flex px-6 py-2 items-center justify-between">
      <a class="no-underline max-w-md w-full flex mx-auto items-center justify-center relative bg-grey-lighter hover:bg-grey-light hover:shadow-md border-2 border-dashed p-6 rounded-lg mt-20 cursor-pointer"
         href=<%= new_community_question_path(@community.id) %>
      >
        <i class="material-icons">add_circle_outline</i>
        <h4 class="font-semibold ml-2">
          Ask a new question
        </h4>
      </a>
    </div>
    <div class="px-6 pb-4 mt-5 flex flex-1">
      <div class="max-w-md w-full mx-auto relative">
        <% presenter.questions.map do |question| %>
          <div class="flex items-center shadow bg-white rounded-lg mb-4">
            <div class="flex w-full">
              <a class="cursor-pointer justify-between no-underline flex flex-1 items-center py-4 px-4 hover:bg-grey-lighter"
                 href=<%= community_question_path(@community.id, question.id) %>>
                <div class="text-black">
                  <div class="text-sm font-semibold">
                    <%= question.title %>
                  </div>
                  <div class="text-xs mt-2">
                    <span>asked by</span>
                    <span class="font-semibold"><%= presenter.user_name(question) %> </span>
                    <span>on <%= presenter.time(question) %> </span>
                  </div>
                </div>
                <div class="flex flex-row text-black">
                  <div class="p-2 text-center">
                    <i class="material-icons">message</i>
                    <p><%= presenter.comments_count(question) %></p>
                  </div>
                  <div class="p-2 text-center">
                    <i class="material-icons">favorite</i>
                    <p><%= presenter.comment_claps(question) %></p>
                  </div>
                  <div class="p-2 text-center">
                    <i class="material-icons">access_time</i>
                    <p><%= presenter.activity(question) %></p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
