<div class="max-w-xl">
  <div class="w-24">
    <div data-re-component="Avatar" data-re-json="<%= { name: @presenter.student.name }.to_json %>"></div>
  </div>
  <%= @presenter.student.name %><br/>
  <%= @presenter.student.title %><br/>
  <div data-re-component="LevelProgressBar" data-re-json="<%= @presenter.level_progress_bar_props.to_json %>"></div>
  <div class="mb-8">
    <h6 class="font-semibold">Targets Overview</h6>
    <div class="flex -mx-2 flex-wrap mt-2">
      <div aria-label="target-completion-status" class="w-full lg:w-1/2 px-2">
        <div class="student-overlay__doughnut-chart-container">
          <%= render 'donut_chart', color: 'purple', percentage: @presenter.target_completion_percentage %>
          <p class="text-sm font-semibold text-center mt-3">Total Targets Completed</p>
          <p class="text-sm text-gray-600 font-semibold text-center mt-1"><%= @presenter.targets_completed %>/<%= @presenter.total_targets %> Targets</p>
        </div>
      </div>
    </div>
  </div>
  <% if @presenter.average_grades.any? %>
    <h6 class="font-semibold">Average Grades</h6>
    <div class="flex -mx-2 flex-wrap">
      <% @presenter.average_grades.each do |average_grade| %>
        <div class="flex w-full lg:w-1/2 px-2 mt-2 border-2 rounded">
          <div class="student-overlay__pie-chart-container">
            <%= render 'pie_chart', percentage: average_grade[:percentage]  %>
            <span class="ml-3 text-lg font-semibold"><%= average_grade[:average_grade].to_s.sub(/\.?0+$/, '') %>/<%= average_grade[:max_grade] %></span></div>
          <p class="text-sm font-semibold px-5 pt-3 pb-4"><%= average_grade[:name] %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
</div>
<% if @presenter.coach_notes.exists? %>
  <h2 class="mt-4 text-2xl">Notes</h2>
  <% @presenter.coach_notes.each do |coach_note| %>
    <div>
      <p class="convert-markdown" data-json-props="<%= {profile: 'permissive', markdown: coach_note.note}.to_json %>"><%= coach_note.note %></p>
      <p><%= coach_note.created_at %></p>
    </div>
  <% end %>
<% end %>
<% if @presenter.submissions_pending_review.exists? %>
  <h2 class="mt-4 text-2xl">Submissions waiting for review</h2>
  <% @presenter.submissions_pending_review.each do |submission| %>
    <%= render 'submission', submission: submission %>
  <% end %>
<% end %>
<% if @presenter.reviewed_submissions.exists? %>
  <a class="mt-4 p-6 flex bg-white items-center border border-transparent rounded-lg shadow font-semibold hover:bg-primary-50 hover:text-primary-500 hover:border-primary-500 cursor-pointer" href="<%= submissions_org_student_path(@presenter.student) %>">
    <i class="if i-clipboard-check-regular if-fw"></i>
    <span class="pl-2">View previously reviewed submissions</span>
  </a>
<% end %>
