<section class="w-full footer__bottom">
  <div
      class="flex flex-row w-full xl:max-w-5xl mx-auto justify-between items-start px-3 pt-3 md:pt-0"
    >
    <div class="w-full flex flex-col-reverse sm:flex-col-reverse md:flex-row justify-between items-center">
      <div class="w-1/4 my-4">
        <a class="text-xs focus:outline-none" href="/">
          <%= presenter.logo_image_tag(:light) %>
          <%= presenter.logo_image_tag(:dark) %>
        </a>
      </div>
      <div class="flex flex-col sm:flex-row space-x-3 ltr:text-right rtl:text-left text-xs">
        <div>
          <% if presenter.privacy_policy? %>
            <%= link_to t(".privacy_policy"), agreement_path(agreement_type: 'privacy-policy'), class: "cursor-pointer me-3 hover:text-primary-500 focus:outline-none focus:text-primary-500" %>
          <% end %>
          <% if presenter.terms_and_conditions? %>
            <%= link_to t(".terms_conditions"), agreement_path(agreement_type: 'terms-and-conditions'), class: "cursor-pointer md:me-3 hover:text-primary-500 focus:outline-none focus:text-primary-500" %>
          <% end %>
        </div>
        <div class="space-x-2 sm:space-x-0">
          <% if presenter.code_of_conduct? %>
            <%= link_to t("shared.code_of_conduct"), agreement_path(agreement_type: 'code-of-conduct'), class: "cursor-pointer md:me-3 hover:text-primary-500 focus:outline-none focus:text-primary-500" %>
          <% end %>
          <span class="text-gray-600">
            &copy; <%= Time.zone.now.year %> <%= presenter.school_name %>.
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
