<% presenter = ::Layouts::FooterPresenter.new(self) %>

<footer class="bg-gray-800">
  <section class="text-white flex flex-row w-full xl:max-w-5xl mx-auto justify-between items-start py-8">
    <div class="pt-2 w-3/5">
      <div class="flex flex-col items-left">
        <span class="uppercase font-bold text-sm p-2">SITEMAP</span>

        <div class="w-full flex flex-row flex-wrap text-xs">
          <% presenter.nav_links.each do |nav_link| %>
            <div class="py-1 w-1/3 hover:font-bold">
              <%= link_to nav_link[:title], nav_link[:url], class: "no-underline m-2 text-white" %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
    <div class="pt-2 flex-1">
      <% if presenter.social_links.any? %>
        <p class="uppercase font-bold text-sm py-2">SOCIAL</p>
        <div class="py-2">
          <% presenter.social_links.each do |social_link| %>
            <a class="text-white no-underline pointer-cursor pr-2" href="<%= social_link[:url] %>" target='_blank' rel='noopener'>
              <i class="text-3xl <%= presenter.social_icon(social_link[:url]) %>"></i>
            </a>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="pt-2 w-2/6">
      <div class="text-xs">
        <% if presenter.address.present? %>
          <p class="uppercase font-bold text-sm py-2">CONTACT</p>

          <address class="text-sm leading-normal">
            <%= presenter.address.html_safe %>
          </address>
        <% end %>
        <div class="text-xs py-2">
          <% if presenter.email_address.present? %>
            <p>Reach us at
              <strong><%= mail_to presenter.email_address, presenter.email_address, class: "text-white font-bold no-underline pointer-cursor" %></strong>.
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <section class="w-full bg-black">
    <div class="text-white flex flex-row w-full xl:max-w-5xl mx-auto justify-between items-start">
      <div class="w-full flex flex-row justify-between items-center">
        <div class="w-1/4 my-4">
          <a href="/">
            <% if presenter.logo? %>
              <img class="w-27" src="<%= presenter.logo_url %>" alt="Logo of <%= presenter.school_name %>"/>
            <% else %>
              <span><%= presenter.school_name %></span>
            <% end %>
          </a>
        </div>

        <div class="w-2/5 text-right text-xs font-hairline">
          <% if presenter.privacy_policy? %>
            <a id="show-privacy-policy" class="text-gray-100 cursor-pointer mr-3">Privacy Policy</a>
          <% end %>

          <% if presenter.terms_of_use? %>
            <a id="show-terms-of-use" class="text-gray-100 cursor-pointer mr-3">Terms of Use</a>
          <% end %>

          <span class="text-gray-400">&copy; <%= Time.now.year %> <%= presenter.school_name %>.</span>
        </div>
      </div>
    </div>
  </section>
</footer>
