<% presenter = ::Layouts::StudentTopNavPresenter.new(self) %>

<section id="header" class="">

  <div class="flex">
    <nav class="flex flex-row w-full xl:max-w-5xl mx-auto justify-between items-center">
      <a class="w-48 pr-6 pl-2 py-4" href="<%= root_path %>">
        <% if presenter.logo? %>
          <img class="" src="<%= presenter.logo_url %>" alt='Logo of <%= presenter.school_name %>'/>
        <% else %>
          <span class="text-2xl text-black"><%= presenter.school_name %></span>
        <% end %>
      </a>


      <div class="flex flex-row">

        <% presenter.visible_links.each do |link| %>
          <div class="px-4">
            <%= link_to(link[:title], link[:url], class: 'no-underline text-black', itemprop: 'url') %>
          </div>
        <% end %>
        <% if presenter.more_links.present? %>
          <div class="px-4 text-black">More
            <i class="fa fa-caret-down"></i>
          </div>
        <% end %>

        <% if current_user.present? %>
          <div class="btn-ghost">
            <%= link_to destroy_user_session_path, class: 'no-underline text-black', method: :delete do %>
              <i class="fa fa-sign-out"></i> Logout
            <% end %>
          </div>
        <% else %>
          <div class="btn-ghost">
            <%= link_to 'Sign In', new_user_session_path, class: 'no-underline text-black', rel: 'nofollow', itemprop: 'url', id: 'sv-navbar__sign-in' %>
          </div>
        <% end %>

      </div>
    </nav>
  </div>

</section>
