<% presenter = ::Layouts::ApplicationPresenter.new(self) %>

<!DOCTYPE html>
<html lang='en' data-flash="<%= presenter.flash_messages %>">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags. -->

  <!-- Styles -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'IconFirstPack', media: 'all' %>
  <%= stylesheet_pack_tag 'shared/flashes', media: 'all' %>
  <!-- Scripts -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', nonce: true %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', nonce: true %>
  <%= javascript_pack_tag 'IconFirstPack', 'data-turbolinks-track': 'reload', nonce: true %>
  <%= javascript_pack_tag 'shared/flashes','data-turbolinks-track': 'reload', nonce: true %>

  <%= csrf_meta_tags %>

  <% if presenter.meta_description.present? %>
    <meta name="description" content="<%= presenter.meta_description %>"/>
    <meta property="og:description" content="<%= presenter.meta_description %>"/>
  <% end %>

  <%= yield :head %>

  <link rel="icon" href='/favicon.ico'/>
</head>

<body data-env="<%= Rails.env %>" data-host="<%= current_host %>">
<% if Rails.env.test? %>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, "#{name}: #{msg}" %>
  <% end %>
<% end %>

<% flash.each do |name, message| %>
  <%= content_tag :div, message, class: 'd-none' %>
<% end %>

<% if @sitewide_notice %>
  <div class="sitewide-notice">
    <div class="container">
      <p>
        <%= yield :sitewide_notice %>
      </p>
    </div>
  </div>
<% end %>

<% unless @hide_layout_header %>
  <section id="header" class="header">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light navbar-container">
        <a class="navbar-brand" href="<%= root_path %>">
          <% if presenter.logo? %>
            <img class="site-logo" src="<%= presenter.logo_url %>" alt='Logo of <%= presenter.school_name %>'/>
          <% else %>
            <span class="navbar__text-logo"><%= presenter.school_name %></span>
          <% end %>
        </a>

        <% unless @hide_nav_links %>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#nav-links__navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
          </button>
        <% end %>

        <%= render 'layouts/top_nav' %>
      </nav>
    </div>
  </section>
<% end %>

<%= yield :header %>

<% if @skip_container %>
  <%= yield %>
<% else %>
  <div class="container">
    <%= yield %>
  </div>
<% end %>

<%= yield :tail %>
<%= render 'layouts/footer' %>
</body>
</html>
