<!DOCTYPE html>
<html>
<head>
  <title>Svapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
  <div id="container">
		<%= yield %>
		<div class="footnote">MVP product in β</div>
  </div>
</body>
</html>
