<% presenter = ::Layouts::CoursePresenter.new(self) %>
<% content_for(:head) do %>
  <%= javascript_pack_tag 'layouts/courses', 'data-turbolinks-track': 'reload', nonce: true %>
  <%= stylesheet_pack_tag 'schools/shared/shared', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for(:wrapper) do %>
  <div class="antialiased flex h-screen overflow-hidden">
    <div class="global-sidebar hidden md:flex">
      <div class="bg-gradient-primary-600-to-primary-800-to-bottom global-sidebar__primary-nav global-sidebar__primary-nav--shrinked text-purple-200 flex flex-col justify-between">
        <div>
          <div class="global-sidebar__header mx-auto">
            <div class="global-sidebar__school-logo-container flex items-center justify-center w-16 h-16">
              <%= link_to school_path, class: 'p-2 bg-white flex items-center justify-center p-2 m-2 rounded' do %>
                <%= image_tag(presenter.school_icon_path, alt: current_school.name) %>
              <% end %>
            </div>
          </div>
          <ul>
            <li>
              <%= link_to school_path, class:'global-sidebar__primary-nav-link p-4 justify-center' do%>
                <i class="fas fa-eye fa-fw text-xl"></i>
              <% end %>
            </li>
            <li>
              <%= link_to school_coaches_path, class:'global-sidebar__primary-nav-link p-4 justify-center' do%>
                <i class="fas fa-chalkboard-teacher fa-fw text-xl"></i>
              <% end %>
            </li>
            <li>
              <%= link_to customize_school_path, class:'global-sidebar__primary-nav-link p-4 justify-center' do%>
                <i class="fas fa-cog fa-fw text-xl"></i>
              <% end %>
            </li>
            <li>
              <% classes = 'global-sidebar__primary-nav-link p-4 justify-center' %>
              <% classes += controller_name.in?(%w(curricula founders faculty)) ? ' global-sidebar__primary-nav-link--active' : '' %>
              <%= link_to school_courses_path, class: classes do %>
                <i class="fas fa-books fa-fw text-xl"></i>
              <% end %>
            </li>
          </ul>
        </div>
        <ul>
          <% if presenter.founder_profile?(@course) %>
            <li>
              <%= link_to student_dashboard_path, class: 'flex text-white py-4 hover:bg-primary-900 font-semibold items-center justify-center' do %>
                <i class="fas fa-user-graduate fa-fw text-sm"></i>
              <% end %>
            </li>
          <% end %>
          <% if presenter.coach_profile?(@course) %>
            <li>
              <%= link_to course_coach_dashboard_path(@course), class: 'flex text-white py-4 hover:bg-primary-900 font-semibold items-center justify-center' do %>
                <i class="fas fa-clipboard-check fa-fw text-sm"></i>
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: 'flex text-white py-4 hover:bg-primary-900 font-semibold items-center justify-center' do %>
              <i class="fas fa-sign-out fa-fw text-sm"></i>
            <% end %>
          </li>
        </ul>
      </div>

      <div class="bg-gray-200 global-sidebar__secondary-nav w-full border-r border-gray-400 pb-6 overflow-y-auto">
        <ul class="p-4">
          <% default_classes = 'flex text-indigo-800 text-sm py-3 px-4 hover:bg-gray-400 focus:bg-gray-400 font-semibold rounded items-center my-1' %>
          <% selected_classes = ' bg-gray-400' %>
          <li>
            <div id="layouts-courses" data-props="<%= presenter.react_props(@course).to_json %>"></div>
          </li>
          <li><%= link_to 'Students', school_course_students_path(@course), class: (default_classes + (current_page?(school_course_students_path(@course)) ? selected_classes : '')) %></li>
          <li><%= link_to 'Coaches', school_course_coaches_path(@course), class: (default_classes + (current_page?(school_course_coaches_path(@course)) ? selected_classes : '')) %></li>
          <li><%= link_to 'Curriculum', school_course_curriculum_path(@course), class: (default_classes + (current_page?(school_course_curriculum_path(@course)) ? selected_classes : '')) %></li>
        </ul>
      </div>
    </div>
    <%= yield %>
  </div>
<% end %>

<%= render template: 'layouts/tailwind' %>
