<% presenter = ErrorPresenter.new(self) %>

<% content_for(:head) do %>
  <%= stylesheet_pack_tag 'layouts/error', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for(:wrapper) do %>
  <%= yield %>

  <footer>
    <% if presenter.contact_email.present? %>
      <div>
        <%= mail_to presenter.contact_email, 'Contact Support' %>
      </div>
    <% end %>

    <div class="text-center">
      <%= link_to('/') do %>
        <% if presenter.school_has_icon? %>
          <%= image_tag(presenter.school_icon_url, class: 'w-12') %>
        <% else %>
          <%= presenter.site_name %>
        <% end %>
      <% end %>
    </div>
  </footer>
<% end %>

<%= render template: 'layouts/tailwind' %>
