<% presenter = ::Layouts::SchoolPresenter.new(self) %>
<% content_for(:head) do %>
  <%= stylesheet_pack_tag 'schools/shared/shared', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for(:wrapper) do %>
  <div class="antialiased flex h-screen overflow-hidden">
    <div class="flex global-sidebar">
      <div class="bg-white global-sidebar__primary-nav global-sidebar__primary-nav--expanded border-r flex flex-col justify-between">
        <div>
          <div class="global-sidebar__header px-6 py-3 shadow bg-white flex">
            <div class="global-sidebar__school-logo-container flex items-center bg-white h-12 w-2/5 rounded">
              <%= image_tag(presenter.school_logo_path, alt: current_school.name) %>
            </div>
            <div class="flex global-sidebar__school-search rounded justify-end w-1/2">
              <!--            <div class="global-sidebar__school-search__icon-box flex items-center justify-center border rounded w-16">-->
              <!--              <i class="material-icons md-48">search</i>-->
              <!--            </div>-->
            </div>
          </div>
          <ul class="list-reset">
            <li>
              <%= link_to school_path, class: presenter.nav_link_classes(school_path) do %>
                <i class="material-icons mr-2">vertical_split</i>
                <span>Overview</span>
              <% end %>
            </li>
            <li>
              <%= link_to school_coaches_path, class: presenter.nav_link_classes(school_coaches_path) do %>
                <i class="material-icons md-48 mr-2">person</i>
                <span>Coaches</span>
              <% end %>
            </li>
            <li>
              <%= link_to school_courses_path, class: presenter.nav_link_classes(school_courses_path) do %>
                <i class="material-icons mr-2">description</i>
                <span>Courses</span>
              <% end %>
              <ul class="list-reset pr-4 pb-4 ml-10 mt-1">
                <% @courses.each do |course| %>
                  <li><%= link_to course.name, school_course_students_path(course), class: 'block py-3 px-4 hover:bg-grey-lighter rounded font-semibold text-xs no-underline' %></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
        <ul class="list-reset">
          <% if presenter.founder_profile? %>
            <li>
              <%= link_to student_dashboard_path, class: 'flex text-sm py-4 px-6 hover:bg-grey-lighter font-semibold no-underline items-center' do %>
                <i class="material-icons text-sm">visibility</i>
                <span class="ml-2">Student Dashboard</span>
              <% end %>
            </li>
          <% end %>
          <% if presenter.coach_profile? %>
            <li>
              <%= link_to presenter.coach_dashboard_path, class: 'flex text-sm py-4 px-6 hover:bg-grey-lighter font-semibold no-underline items-center' do %>
                <i class="material-icons text-sm">assignment_turned_in</i>
                <span class="ml-2">Review Submissions</span>
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: 'flex text-sm py-4 px-6 hover:bg-grey-lighter font-semibold no-underline items-center' do %>
              <i class="material-icons text-sm">power_settings_new</i>
              <span class="ml-2">Log Out</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <%= yield %>
  </div>
<% end %>

<%= render template: 'layouts/tailwind' %>
