<% presenter = ::Layouts::SchoolPresenter.new(self) %>

<% content_for(:viewport) do %>
  <meta name="viewport"/>
<% end %>

<% content_for(:head) do %>
  <%= stylesheet_pack_tag 'schools/shared/shared', media: 'all' %>
  <%= stylesheet_pack_tag 'SchoolLayoutPack', media: 'all' %>
<% end %>

<%=content_for(:tail) do %>
  <%= javascript_pack_tag 'SchoolLayoutPack', nonce: true %>
<% end %>

<% content_for(:wrapper) do %>
  <div class="antialiased flex h-screen overflow-hidden">
    <div id="school-admin-navbar__root" class="flex school-admin-navbar flex-shrink-0" data-json-props="<%= presenter.props_to_json %>"></div>
    <%= yield %>
  </div>
<% end %>

<%= render template: 'layouts/tailwind' %>
