<% presenter = ::Layouts::SchoolPresenter.new(self) %>

<% content_for(:viewport) do %>
  <meta name="viewport"/>
<% end %>

<% content_for(:head) do %>
  <%= stylesheet_pack_tag 'schools/shared/shared', media: 'all' %>
<% end %>

<% content_for(:wrapper) do %>
  <div class="antialiased flex h-screen overflow-hidden">
    <div class="flex global-sidebar flex-shrink-0">
      <div class="bg-gradient-primary-600-to-primary-800-to-bottom global-sidebar__primary-nav global-sidebar__primary-nav--shrinked text-purple-200 flex flex-col justify-between">
        <div>
          <div class="global-sidebar__header mx-auto">
            <div class="global-sidebar__school-logo-container flex items-center justify-center w-16 h-16">
              <%= link_to school_path, class: 'p-2 bg-white flex items-center justify-center p-2 m-2 rounded' do %>
                <%= image_tag(::Layouts::CoursePresenter.new(self).school_icon_path, alt: current_school.name) %>
              <% end %>
            </div>
          </div>
          <ul>
            <li>
              <%= link_to school_path, class: 'global-sidebar__primary-nav-link p-4 justify-center' do %>
                <i class="fal fa-eye fa-fw text-lg"></i>
              <% end %>
            </li>
            <li>
              <%= link_to school_coaches_path, class: 'global-sidebar__primary-nav-link p-4 justify-center' do %>
                <i class="fal fa-chalkboard-teacher fa-fw text-lg"></i>
              <% end %>
            </li>
            <li>
              <%= link_to customize_school_path, class: 'global-sidebar__primary-nav-link global-sidebar__primary-nav-link--active p-4 justify-center' do %>
                <i class="fal fa-cog fa-fw text-lg"></i>
              <% end %>
            </li>
            <li>
              <%= link_to school_courses_path, class: 'global-sidebar__primary-nav-link p-4 justify-center' do %>
                <i class="fal fa-books fa-fw text-lg"></i>
              <% end %>
            </li>
          </ul>
        </div>
        <ul>
          <% if presenter.founder_profile? %>
            <li>
              <%= link_to home_path, class: 'flex text-white py-4 hover:bg-primary-900 font-semibold items-center justify-center' do %>
                <i class="fal fa-user-graduate fa-fw text-sm"></i>
              <% end %>
            </li>
          <% end %>
          <% if presenter.coach_profile? %>
            <li>
              <%= link_to presenter.coach_dashboard_path, class: 'flex text-white py-4 hover:bg-primary-900 font-semibold items-center justify-center' do %>
                <i class="fal fa-clipboard-check fa-fw text-sm"></i>
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: 'flex text-white py-4 hover:bg-primary-900 font-semibold items-center justify-center' do %>
              <i class="fal fa-sign-out fa-fw text-sm"></i>
            <% end %>
          </li>
        </ul>
      </div>

      <div class="bg-gray-200 global-sidebar__secondary-nav w-full border-r border-gray-400 pb-6 overflow-y-auto">
        <ul class="p-4">
          <% default_classes = 'flex text-indigo-800 text-sm py-3 px-4 hover:bg-gray-400 focus:bg-gray-400 font-semibold rounded items-center my-1' %>
          <% selected_classes = ' bg-gray-400' %>
          <li><%= link_to 'Customization', customize_school_path, class: (default_classes + selected_classes) %></li>
          <li><span class="<%= default_classes + " cursor-not-allowed" %>" title="Under construction">Domains</span>
          </li>
          <li><span class="<%= default_classes + " cursor-not-allowed" %>" title="Under construction">Homepage</span>
          </li>
        </ul>
      </div>
    </div>

    <%= yield %>
  </div>
<% end %>

<%= render template: 'layouts/tailwind' %>
