<% presenter = ::Layouts::StudentCoursePresenter.new(self, @course) %>

<% content_for(:head) do %>
  <%= stylesheet_pack_tag 'StudentCourseLayoutPack', media: 'all' %>
<% end %>

<% content_for(:tail) do %>
  <%= javascript_pack_tag 'StudentCourseLayoutPack', nonce: true %>
<% end %>

<% content_for(:wrapper) do %>
  <div id="course-header-root" data-json-props="<%= presenter.props_to_json %>"></div>

  <%= content_for(:inner_wrapper) %>
<% end %>

<%= render template: 'layouts/student' %>
