<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags. -->

  <!-- Styles -->
  <%= stylesheet_pack_tag 'tailwind', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800" rel="stylesheet">

  <!-- Scripts -->
  <%= javascript_pack_tag 'tailwind', 'data-turbolinks-track': 'reload', nonce: true %>

  <%= csrf_meta_tags %>

  <meta name="description" content="<%= meta_description %>"/>
  <meta property="og:description" content="<%= meta_description %>"/>

  <%= yield :head %>

  <link rel="icon" href="<%= image_url('layouts/shared/favicon.png') %>"/>
</head>

<body data-env="<%= Rails.env %>">

<div class="font-sans antialiased h-screen flex">
  <!-- Sidebar -->
  <div class="flex w-full">
    <div class="flex flex-column">
      <div class="bg-grey-darker global-sidebar__primary-nav text-purple-lighter flex-none p-4 hidden md:block">
        <%= yield :nav %>
      </div>
      <% if content_for?(:subnav) %>
        <div class="bg-grey-lighter global-sidebar__secondary-nav text-purple-lighter flex-none w-64 pb-6 hidden md:block">
          <%= yield :subnav %>
        </div>
        </div>
        <div className="flex flex-col bg-white overflow-hidden", style="width: 100%">
          <%= yield %>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
      </div>
</body>
</html>
