<% presenter = ::Layouts::TailwindPresenter.new(self) %>

<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags. -->

  <%= yield :head %>

  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_pack_tag 'layouts/tailwind', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- Scripts -->
  <%= javascript_pack_tag 'layouts/tailwind', 'data-turbolinks-track': 'reload', nonce: true %>

  <%= csrf_meta_tags %>

  <% if presenter.meta_description.present? %>
    <meta name="description" content="<%= presenter.meta_description %>"/>
    <meta property="og:description" content="<%= presenter.meta_description %>"/>
  <% end %>

  <link rel="icon" href="/favicon.ico"/>
</head>

<body data-env="<%= Rails.env %>">
<%= render 'layouts/pretender_tailwind' if @pretender %>

<% if content_for?(:nav) %>
  <%= yield :nav %>
<% end %>

<% if content_for?(:wrapper) %>
  <%= yield :wrapper %>
<% else %>
  <%= yield %>
<% end %>

<%= yield :tail %>

<% if content_for?(:nav) %>
  <%= yield :footer %>
<% end %>

</body>
</html>
