<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags. -->

  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_pack_tag 'tailwind', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- Scripts -->
  <%= javascript_pack_tag 'tailwind', 'data-turbolinks-track': 'reload', nonce: true %>

  <%= csrf_meta_tags %>

  <meta name="description" content="<%= meta_description %>"/>
  <meta property="og:description" content="<%= meta_description %>"/>

  <%= yield :head %>

  <link rel="icon" href="<%= image_url('layouts/shared/favicon.png') %>"/>
</head>

<body data-env="<%= Rails.env %>">

<div class="font-sans antialiased flex h-screen">
  <!-- Sidebar -->

  <%= yield :nav %>

  <!-- Content -->
  <%= yield %>
</div>

</body>
</html>
