<%
  course = @course_export.course
  user = @course_export.user
  link = exports_school_course_url(course)
%>

<% content_for :title do %>
  <%= t("mailers.course_export.prepared.title") %>
<% end %>

<% content_for :subtitle do %>
  <%= t("mailers.course_export.prepared.subtitle", course_name: course.name) %>
<% end %>

<% content_for :title_button_text do %>
  <%= t("mailers.course_export.prepared.title_button_text") %>
<% end %>

<% content_for(:title_button_link, link) %>

<% content_for :salutation do %>
  <%= t("shared.salutation_name", name: user.name) %>
<% end %>

<% content_for :body do %>
  <p>
    <%= t("mailers.course_export.prepared.body.header_html", course_name: course.name, course_export_created_at: @course_export.created_at.strftime('%b %e, %l:%M %p'), link: link) %>
  </p>

  <p>
    <%= t("mailers.course_export.prepared.body.footer") %>
  </p>

  <%= render 'mailers/link_fallback', url: link %>
<% end %>
