<%
  course = @course_export.course
  user = @course_export.user
  link = exports_school_course_url(course)
%>

<% content_for :title do %>
  <%= t("views.mailers.prepared.export_ready") %>
<% end %>

<% content_for :subtitle do %>
  <%= t("views.mailers.prepared.export_data_ready", course_name: course.name) %>
<% end %>

<% content_for :title_button_text do %>
  <%= t("views.mailers.prepared.visit_page") %>
<% end %>

<% content_for(:title_button_link, link) %>

<% content_for :salutation do %>
  <%= t("shared.salutation_name", name: user.name) %>
<% end %>

<% content_for :body do %>
  <p>
    <%= t("views.mailers.prepared.body", course_name: course.name, course_export_created_at: @course_export.created_at.strftime('%b %e, %l:%M %p'), link_to: link_to(t("views.mailers.prepared.link_to"), link)) %>
  </p>

  <p>
    <%= t("views.mailers.prepared.export_ods") %>
  </p>

  <%= render 'mailers/link_fallback', url: link %>
<% end %>
